<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Extended Attributes Module</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.QSExtendedAttributesPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Extended Attributes Module</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>49</string>
	<key>NSPrincipalClass</key>
	<string>QSExtendedAttributesPlugIn</string>
	<key>QSActions</key>
	<dict>
		<key>QSShowExtendedAttributesAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSExtendedAttributesPlugInAction</string>
			<key>actionSelector</key>
			<string>showExtendedAttributesForFile:</string>
			<key>directTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
			<key>name</key>
			<string>Show Extended Attributes</string>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string></string>
		<key>categories</key>
		<array/>
		<key>description</key>
		<string></string>
		<key>icon</key>
		<string></string>
		<key>qsversion</key>
		<string>29CC</string>
		<key>relatedBundles </key>
		<array/>
	</dict>
	<key>QSPresetAdditionsTemplate</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetQSExtendedAttributesPlugIn</string>
			<key>name</key>
			<string>QSExtendedAttributesPlugIn</string>
			<key>source</key>
			<string>QSExtendedAttributesPlugInSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSExtendedAttributesPlugInAction</key>
			<string>QSExtendedAttributesPlugInAction</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>QSExtendedAttributesPlugInType</key>
			<string>QSExtendedAttributesPlugInSource</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>QSExtendedAttributesPlugInSource</key>
			<string>QSExtendedAttributesPlugInSource</string>
		</dict>
	</dict>
	<key>QSRequirementsTemplate</key>
	<dict>
		<key>bundlesTemplate</key>
		<array>
			<dict>
				<key>id</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>version</key>
				<string></string>
			</dict>
		</array>
		<key>feature</key>
		<integer>0</integer>
		<key>launchLoad</key>
		<false/>
		<key>pathsTemplate</key>
		<array>
			<string>/path/to/something</string>
		</array>
		<key>pluginsTemplate</key>
		<array>
			<dict>
				<key>id</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>version</key>
				<string></string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
