<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>OmniWeb Module</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.QSOmniWebPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>OmniWeb Module</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>AE</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (c) 2004, Blacktree, Inc.</string>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Allan Odgaard and Rob McBroom</string>
		<key>description</key>
		<string>Bookmarks, History, Search Queries, and Proxy Object.</string>
		<key>extendedDescription</key>
		<string>&lt;h2 id=&quot;omniweb_module&quot;&gt;OmniWeb Module&lt;/h2&gt;

&lt;p&gt;This plug-in allows you to add your Bookmarks, Favorites and History from OmniWeb into Quicksilver&amp;#8217;s catalog. It also provides a proxy object and access to web searches.&lt;/p&gt;

&lt;h3 id=&quot;proxy_object&quot;&gt;Proxy Object&lt;/h3&gt;

&lt;p&gt;If proxy objects are enabled, you can access the URL of the page currently open in OmniWeb by searching for &amp;#8220;Current Web Page&amp;#8221;. Several browsers provide a Current Web Page proxy object, so look for the one with OmniWeb&amp;#8217;s icon.&lt;/p&gt;

&lt;h3 id=&quot;web_searches&quot;&gt;Web Searches&lt;/h3&gt;

&lt;p&gt;Searches defined in OmniWeb&amp;#8217;s Shortcut Preferences can be added to the catalog automatically and used from within Quicksilver. For example, if you define a shortcut with a keyword of &lt;code&gt;google@&lt;/code&gt;, you can do either of the following from within Quicksilver:&lt;/p&gt;

&lt;ol&gt;
&lt;li&gt;google → Search For… → [search terms]&lt;/li&gt;
&lt;li&gt;[search terms] → Find With… → google&lt;/li&gt;
&lt;/ol&gt;

&lt;p&gt;This functionality requires the Web Search Module for Quicksilver.&lt;/p&gt;</string>
		<key>requiresBundle</key>
		<string>com.omnigroup.OmniWeb5</string>
		<key>requiresFeature</key>
		<string>0</string>
		<key>webIcon</key>
		<string>image:com.omnigroup.OmniWeb5</string>
		<key>icon</key>
		<string>com.omnigroup.OmniWeb5</string>
	</dict>
	<key>QSPresetAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetOmniWebGroup</string>
			<key>children</key>
			<array>
				<dict>
					<key>ID</key>
					<string>QSPresetOmniWebBookmarks</string>
					<key>icon</key>
					<string>com.omnigroup.OmniWeb5</string>
					<key>name</key>
					<string>OmniWeb Bookmarks</string>
					<key>requiresSettingsPath</key>
					<string>1</string>
					<key>settings</key>
					<dict>
						<key>parser</key>
						<string>QSHTMLLinkParser</string>
						<key>path</key>
						<string>~/Library/Application Support/OmniWeb 5/Bookmarks.html</string>
						<key>skipItem</key>
						<string>1</string>
					</dict>
					<key>source</key>
					<string>QSFileSystemObjectSource</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>QSPresetOmniWebServerBookmarks</string>
					<key>icon</key>
					<string>com.omnigroup.OmniWeb5</string>
					<key>name</key>
					<string>OmniWeb Bookmarks (Server)</string>
					<key>requiresSettingsPath</key>
					<string>1</string>
					<key>settings</key>
					<dict>
						<key>parser</key>
						<string>QSHTMLLinkParser</string>
						<key>path</key>
						<string>~/Library/Application Support/OmniWeb 5/ServerBookmarks/Bookmarks.html</string>
						<key>skipItem</key>
						<string>1</string>
					</dict>
					<key>source</key>
					<string>QSFileSystemObjectSource</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>QSPresetOmniWebFavorites</string>
					<key>icon</key>
					<string>com.omnigroup.OmniWeb5</string>
					<key>name</key>
					<string>OmniWeb Favorites</string>
					<key>requiresSettingsPath</key>
					<string>1</string>
					<key>settings</key>
					<dict>
						<key>parser</key>
						<string>QSHTMLLinkParser</string>
						<key>path</key>
						<string>~/Library/Application Support/OmniWeb 5/Favorites.html</string>
						<key>skipItem</key>
						<string>1</string>
					</dict>
					<key>source</key>
					<string>QSFileSystemObjectSource</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>QSPresetOmniWebHistory</string>
					<key>enabled</key>
					<string>0</string>
					<key>icon</key>
					<string>SafariHistoryIcon</string>
					<key>modificationDate</key>
					<string>103506752</string>
					<key>name</key>
					<string>OmniWeb History</string>
					<key>settings</key>
					<dict>
						<key>parser</key>
						<string>QSOmniWebHistoryParser</string>
						<key>path</key>
						<string>~/Library/Application Support/OmniWeb 5/History.plist</string>
					</dict>
					<key>source</key>
					<string>QSFileSystemObjectSource</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>QSPresetOmniWebShortcuts</string>
					<key>icon</key>
					<string>Find</string>
					<key>name</key>
					<string>OmniWeb Shortcuts</string>
					<key>requiresSettingsPath</key>
					<string>1</string>
					<key>settings</key>
					<dict>
						<key>parser</key>
						<string>QSOmniWebShortcutsParser</string>
						<key>path</key>
						<string>~/Library/Preferences/com.omnigroup.OmniWeb5.plist</string>
						<key>skipItem</key>
						<string>1</string>
					</dict>
					<key>source</key>
					<string>QSFileSystemObjectSource</string>
				</dict>
			</array>
			<key>icon</key>
			<string>com.omnigroup.OmniWeb5</string>
			<key>name</key>
			<string>OmniWeb</string>
			<key>requiresBundle</key>
			<string>com.omnigroup.OmniWeb5</string>
			<key>source</key>
			<string>QSGroupObjectSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSClasses</key>
		<dict>
			<key>QSOmniWebObjectHandler</key>
			<string>QSOmniWebObjectHandler</string>
		</dict>
		<key>QSFSParsers</key>
		<dict>
			<key>QSOmniWebHistoryParser</key>
			<string>QSOmniWebHistoryParser</string>
			<key>QSOmniWebShortcutsParser</key>
			<string>QSOmniWebShortcutsParser</string>
		</dict>
		<key>QSProxies</key>
		<dict>
			<key>com.omnigroup.OmniWeb5</key>
			<dict>
				<key>icon</key>
				<string>com.omnigroup.OmniWeb5</string>
				<key>name</key>
				<string>Current Web Page</string>
				<key>providerClass</key>
				<string>QSOmniWebObjectHandler</string>
				<key>types</key>
				<array>
					<string>Apple URL pasteboard type</string>
					<string>NSStringPboardType</string>
				</array>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
