<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>OmniFocus Module</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.QSOmniFocusPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>OmniFocus Module</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>31</string>
	<key>NSPrincipalClass</key>
	<string>QSOmniFocusPlugIn</string>
	<key>QSActionsTemplate</key>
	<dict>
		<key>QSOmniFocusPlugInAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSOmniFocusPlugInAction</string>
			<key>actionSelector</key>
			<string>performActionOnObject:</string>
			<key>directTypes</key>
			<array>
				<string>QSOmniFocusPlugInType</string>
			</array>
			<key>name</key>
			<string>Action: QSOmniFocusPlugIn</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Blacktree</string>
		<key>description</key>
		<string>OmniFocus</string>
		<key>icon</key>
		<string>com.omnigroup.OmniFocus</string>
	</dict>
	<key>QSPresetAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSOmniFocusProjects</string>
			<key>name</key>
			<string>OmniFocus Projects</string>
			<key>source</key>
			<string>QSOmniFocusPlugInSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSOmniFocusPlugInAction</key>
			<string>QSOmniFocusPlugInAction</string>
		</dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>com.omnigroup.OmniFocus</key>
			<string>QSOmniFocusPlugInSource</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>QSOmniFocusPlugInType</key>
			<string>QSOmniFocusPlugInSource</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>QSOmniFocusPlugInSource</key>
			<string>QSOmniFocusPlugInSource</string>
		</dict>
	</dict>
</dict>
</plist>
