<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>QSSoundSupport</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.QSSoundSupport</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Unnamed (QSSoundSupport)</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>1A</string>
	<key>NSPrincipalClass</key>
	<string>QSSoundSupport</string>
	<key>QSActionsTemplate</key>
	<dict>
		<key>QSSoundSupportAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSSoundSupport_Action</string>
			<key>actionSelector</key>
			<string>performActionOnObject:</string>
			<key>directTypes</key>
			<array>
				<string>QSSoundSupport_Type</string>
			</array>
			<key>name</key>
			<string>Action: QSSoundSupport</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string></string>
		<key>categories</key>
		<array/>
		<key>description</key>
		<string></string>
		<key>relatedBundles </key>
		<array/>
		<key>webIcon</key>
		<string></string>
	</dict>
	<key>QSPresetAdditionsTemplate</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetQSSoundSupport</string>
			<key>name</key>
			<string>QSSoundSupport</string>
			<key>source</key>
			<string>QSSoundSupport_Source</string>
		</dict>
	</array>
	<key>QSRegistrationTemplate</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSSoundSupport_Action</key>
			<string>QSSoundSupport_Action</string>
		</dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>com.apple.whatever</key>
			<string>QSSoundSupport_Source</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>QSSoundSupport_Type</key>
			<string>QSSoundSupport_Source</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>QSSoundSupport_Source</key>
			<string>QSSoundSupport_Source</string>
		</dict>
		<key>QSPreferencePanes</key>
		<dict>
			<key>QSSoundSupport_PrefPane</key>
			<string>QSSoundSupport_PrefPane</string>
		</dict>
	</dict>
	<key>QSRequirementsTemplate</key>
	<dict>
		<key>bundlesTemplate</key>
		<array>
			<dict>
				<key>id</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>version</key>
				<string></string>
			</dict>
		</array>
		<key>feature</key>
		<integer>0</integer>
		<key>launchLoad</key>
		<false/>
		<key>pathsTemplate</key>
		<array>
			<string>/path/to/something</string>
		</array>
		<key>pluginsTemplate</key>
		<array>
			<dict>
				<key>id</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>version</key>
				<string></string>
			</dict>
		</array>
		<key>version</key>
		<string>1337</string>
	</dict>
</dict>
</plist>
