<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.QSAddressBookPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Apple Address Book Module</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>16B</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2006, Blacktree, Inc.</string>
	<key>QSActions</key>
	<dict>
		<key>QSABContactAddDataAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSABMimicActionProvider</string>
			<key>actionSelector</key>
			<string>addData:toContact:</string>
			<key>directTypes</key>
			<array>
				<string>ABPeopleUIDsPboardType</string>
			</array>
			<key>icon</key>
			<string>com.apple.AddressBook</string>
			<key>name</key>
			<string>Add Note...</string>
			<key>reverseArguments</key>
			<true/>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>QSABContactEditAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSABContactActions</string>
			<key>actionSelector</key>
			<string>editContact:</string>
			<key>directTypes</key>
			<array>
				<string>ABPeopleUIDsPboardType</string>
			</array>
			<key>icon</key>
			<string>com.apple.AddressBook</string>
			<key>name</key>
			<string>Edit Contact</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>QSABContactShowAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSABContactActions</string>
			<key>actionSelector</key>
			<string>showContact:</string>
			<key>directTypes</key>
			<array>
				<string>ABPeopleUIDsPboardType</string>
			</array>
			<key>icon</key>
			<string>com.apple.AddressBook</string>
			<key>name</key>
			<string>Show Contact</string>
			<key>precedence</key>
			<integer>3</integer>
			<key>validatesObjects</key>
			<false/>
		</dict>
	</dict>
	<key>QSDefaults</key>
	<dict>
		<key>QSABIncludeContacts</key>
		<true/>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Blacktree, Inc.</string>
		<key>categories</key>
		<array>
			<string>Contacts</string>
			<string>Applications</string>
		</array>
		<key>description</key>
		<string>Adds Address Book contacts</string>
		<key>extendedDescription</key>
		<string>Adds Address Book contacts and actions for showing them. Contact info is available as children of contacts.</string>
		<key>icon</key>
		<string>com.apple.AddressBook</string>
		<key>relatedBundles</key>
		<array>
			<string>com.apple.AddressBook</string>
		</array>
		<key>requiresFeature</key>
		<string>0</string>
	</dict>
	<key>QSPresetAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetABMailRecents</string>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>Recent Mail Addresses</string>
			<key>source</key>
			<string>QSABMailRecentsObjectSource</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSPresetAddressBookGroup</string>
			<key>children</key>
			<array>
				<dict>
					<key>ID</key>
					<string>QSPresetAddressBook</string>
					<key>name</key>
					<string>Address Book Contacts</string>
					<key>source</key>
					<string>QSAddressBookObjectSource</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>QSPresetAddressBookScripts</string>
					<key>enabled</key>
					<false/>
					<key>name</key>
					<string>Scripts (Address Book)</string>
					<key>requiresSettingsPath</key>
					<true/>
					<key>settings</key>
					<dict>
						<key>folderDepth</key>
						<integer>1</integer>
						<key>folderTypes</key>
						<array>
							<string>scpt</string>
						</array>
						<key>parser</key>
						<string>QSDirectoryParser</string>
						<key>path</key>
						<string>~/Library/Address Book Scripts</string>
						<key>skipItem</key>
						<true/>
					</dict>
					<key>source</key>
					<string>QSFileSystemObjectSource</string>
				</dict>
			</array>
			<key>icon</key>
			<string>com.apple.AddressBook</string>
			<key>name</key>
			<string>Apple Address Book</string>
			<key>requiresBundle</key>
			<string>com.apple.AddressBook</string>
			<key>source</key>
			<string>QSGroupObjectSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSAETypeConverters</key>
		<dict>
			<key>com.apple.addressbook.item-object</key>
			<string>QSContactObjectHandler</string>
		</dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSABContactActions</key>
			<string>QSABContactActions</string>
			<key>QSABMimicActionProvider</key>
			<string>QSABMimicActionProvider</string>
		</dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>com.apple.AddressBook</key>
			<string>QSAddressBookObjectSource</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>ABPeopleUIDsPboardType</key>
			<string>QSContactObjectHandler</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>QSABMailRecentsObjectSource</key>
			<string>QSABMailRecentsObjectSource</string>
			<key>QSAddressBookObjectSource</key>
			<string>QSAddressBookObjectSource</string>
		</dict>
		<key>QSTypeDefinitions</key>
		<dict>
			<key>ABPeopleUIDsPboardType</key>
			<dict>
				<key>icon</key>
				<string>com.apple.addressbook</string>
				<key>name</key>
				<string>Address Book Contacts</string>
			</dict>
		</dict>
	</dict>
	<key>QSRequirements</key>
	<dict>
		<key>version</key>
		<string>12CC</string>
	</dict>
</dict>
</plist>
