<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Synergy Artwork</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.QSSynergyPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Synergy Artwork</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>28</string>
	<key>NSPrincipalClass</key>
	<string>QSSynergyPlugIn</string>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Blacktree, Inc.</string>
		<key>categories</key>
		<array>
			<string>Music</string>
		</array>
		<key>description</key>
		<string>Loads artwork from Synergy</string>
		<key>extendedDescription</key>
		<string>Loads artwork from &lt;a href="http://synergy.wincent.com/"&gt;Synergy&lt;/a&gt;</string>
		<key>icon</key>
		<string>org.wincent.Synergy</string>
		<key>relatedBundles</key>
		<array>
			<string>org.wincent.Synergy</string>
		</array>
	</dict>
	<key>QSRegistration</key>
	<dict>
		<key>QSMusicArtworkSources</key>
		<dict>
			<key>org.wincent.Synergy</key>
			<string>QSSynergyPlugIn</string>
		</dict>
	</dict>
</dict>
</plist>
