<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Stikkit Module</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.QSStikkitPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Stikkit</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>184</string>
	<key>NSPrincipalClass</key>
	<string>QSStikkitPlugIn</string>
	<key>QSActions</key>
	<dict>
		<key>QSStikkitAppendAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSStikkitPlugIn</string>
			<key>actionSelector</key>
			<string>appendToStikkit:withString:</string>
			<key>directTypes</key>
			<array>
				<string>com.stikkit.stikkit</string>
			</array>
			<key>icon</key>
			<string>stikkit</string>
			<key>name</key>
			<string>Append Text...</string>
		</dict>
		<key>QSStikkitCreateAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSStikkitPlugIn</string>
			<key>actionSelector</key>
			<string>createStikkitWithString:</string>
			<key>directTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>icon</key>
			<string>stikkit</string>
			<key>name</key>
			<string>Create Stikkit</string>
		</dict>
		<key>QSStikkitEditAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSStikkitPlugIn</string>
			<key>actionSelector</key>
			<string>editStikkit:withString:</string>
			<key>directTypes</key>
			<array>
				<string>com.stikkit.stikkit</string>
			</array>
			<key>icon</key>
			<string>stikkit</string>
			<key>name</key>
			<string>Edit...</string>
		</dict>
		<key>QSStikkitPrependAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSStikkitPlugIn</string>
			<key>actionSelector</key>
			<string>prependToStikkit:withString:</string>
			<key>directTypes</key>
			<array>
				<string>com.stikkit.stikkit</string>
			</array>
			<key>icon</key>
			<string>stikkit</string>
			<key>name</key>
			<string>Prepend Text...</string>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Blacktree, Inc.</string>
		<key>categories</key>
		<array>
			<string>Web</string>
		</array>
		<key>description</key>
		<string>Provides access to stikkit</string>
		<key>icon</key>
		<string>stikkit</string>
		<key>requiresFeature</key>
		<string>0</string>
	</dict>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSStikkitPlugIn</key>
			<string>QSStikkitPlugIn</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>com.stikkit.stikkit</key>
			<string>QSStikkitPlugIn</string>
			<key>com.stikkit.tag</key>
			<string>QSStikkitPlugIn</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>QSStikkitPlugIn</key>
			<string>QSStikkitPlugIn</string>
		</dict>
	</dict>
	<key>QSRequirements</key>
	<dict>
		<key>version</key>
		<string>1328</string>
	</dict>
	<key>QSResourceAdditions</key>
	<dict>
		<key>stikkit</key>
		<string>[com.blacktree.Quicksilver.QSStikkitPlugIn]:stikkit.png</string>
	</dict>
</dict>
</plist>
