<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.QSFacebookPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>NSPrincipalClass</key>
	<string></string>
	<key>QSActions</key>
	<dict>
		<key>FacebookFriendsAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSFacebookSource</string>
			<key>actionSelector</key>
			<string>showFriends:</string>
			<key>directTypes</key>
			<array>
				<string>com.facebook.contact</string>
			</array>
			<key>icon</key>
			<string>facebook</string>
			<key>name</key>
			<string>Show Friends</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>FacebookMessageAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSFacebookSource</string>
			<key>actionSelector</key>
			<string>sendMessage:</string>
			<key>directTypes</key>
			<array>
				<string>com.facebook.contact</string>
			</array>
			<key>icon</key>
			<string>facebook</string>
			<key>name</key>
			<string>Send Message</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>FacebookPhotosAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSFacebookSource</string>
			<key>actionSelector</key>
			<string>showPhotos:</string>
			<key>directTypes</key>
			<array>
				<string>com.facebook.contact</string>
			</array>
			<key>icon</key>
			<string>facebook</string>
			<key>name</key>
			<string>Photos</string>
			<key>rankModification</key>
			<string>3</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>FacebookPhotosOfAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSFacebookSource</string>
			<key>actionSelector</key>
			<string>showPhotosOf:</string>
			<key>directTypes</key>
			<array>
				<string>com.facebook.contact</string>
			</array>
			<key>icon</key>
			<string>facebook</string>
			<key>name</key>
			<string>Photos of Them</string>
			<key>rankModification</key>
			<string>3</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>FacebookPokeAction</key>
		<dict>
			<key>FacebookProfileAction</key>
			<dict>
				<key>actionClass</key>
				<string>QSFacebookSource</string>
				<key>actionSelector</key>
				<string>showProfile:</string>
				<key>directTypes</key>
				<array>
					<string>com.facebook.contact</string>
				</array>
				<key>icon</key>
				<string>facebook</string>
				<key>name</key>
				<string>Profile</string>
				<key>rankModification</key>
				<string>3.5</string>
				<key>validatesObjects</key>
				<false/>
			</dict>
			<key>actionClass</key>
			<string>QSFacebookSource</string>
			<key>actionSelector</key>
			<string>poke:</string>
			<key>directTypes</key>
			<array>
				<string>com.facebook.contact</string>
			</array>
			<key>icon</key>
			<string>facebook</string>
			<key>name</key>
			<string>Poke</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>FacebookProfileAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSFacebookSource</string>
			<key>actionSelector</key>
			<string>showProfile:</string>
			<key>directTypes</key>
			<array>
				<string>com.facebook.contact</string>
			</array>
			<key>icon</key>
			<string>facebook</string>
			<key>name</key>
			<string>Profile</string>
			<key>rankModification</key>
			<string>3.5</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>FacebookWallAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSFacebookSource</string>
			<key>actionSelector</key>
			<string>showWall:</string>
			<key>directTypes</key>
			<array>
				<string>com.facebook.contact</string>
			</array>
			<key>icon</key>
			<string>facebook</string>
			<key>name</key>
			<string>Show Wall</string>
			<key>rankModification</key>
			<string>3</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>categories</key>
		<array/>
		<key>description</key>
		<string>Acces to Facebook contacts</string>
		<key>icon</key>
		<string>facebook</string>
		<key>qsversion</key>
		<string>29CC</string>
		<key>relatedBundles </key>
		<array/>
	</dict>
	<key>QSPresetAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetFacebookContacts</string>
			<key>name</key>
			<string>Facebook Contacts</string>
			<key>source</key>
			<string>QSFacebookSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSFacebookSource</key>
			<string>QSFacebookSource</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>com.facebook.contact</key>
			<string>QSFacebookSource</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>QSFacebookSource</key>
			<string>QSFacebookSource</string>
		</dict>
		<key>xQSPreferencePanes</key>
		<dict>
			<key>QSGoogleDocsPlugIn_PrefPane</key>
			<dict>
				<key>class</key>
				<string>QSPreferencePane</string>
				<key>description</key>
				<string>Preferences</string>
				<key>icon</key>
				<string></string>
				<key>name</key>
				<string>QSGoogleDocsPlugIn</string>
			</dict>
		</dict>
	</dict>
	<key>QSRequirementsTemplate</key>
	<dict>
		<key>bundlesTemplate</key>
		<array>
			<dict>
				<key>id</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>version</key>
				<string></string>
			</dict>
		</array>
		<key>feature</key>
		<integer>0</integer>
		<key>launchLoad</key>
		<false/>
		<key>pluginsTemplate</key>
		<array>
			<dict>
				<key>id</key>
				<string>com.blacktree.elements.GData</string>
				<key>name</key>
				<string>Google Data Suppot</string>
				<key>version</key>
				<string>23</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
