<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>QSWeatherPlugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.QSWeatherPlugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Weather Plugin</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>87</string>
	<key>NSPrincipalClass</key>
	<string>QSWeatherPlugin</string>
	<key>QSActionsTemplate</key>
	<dict>
		<key>QSWeatherPluginAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSWeatherPluginAction</string>
			<key>actionSelector</key>
			<string>performActionOnObject:</string>
			<key>directTypes</key>
			<array>
				<string>QSWeatherPluginType</string>
			</array>
			<key>name</key>
			<string>Action: QSWeatherPlugin</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>MrChucho</string>
		<key>categories</key>
		<array/>
		<key>description</key>
		<string>Get Current Conditions and Forecast</string>
		<key>icon</key>
		<string></string>
		<key>qsversion</key>
		<string>29CC</string>
		<key>relatedBundles </key>
		<array/>
	</dict>
	<key>QSPresetAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetQSWeatherPlugin</string>
			<key>name</key>
			<string>Current Conditions and Forecast</string>
			<key>source</key>
			<string>QSWeatherPluginSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSWeatherPluginAction</key>
			<string>QSWeatherPluginAction</string>
		</dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>com.apple.whatever</key>
			<string>QSWeatherPluginSource</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>QSWeatherPluginType</key>
			<string>QSWeatherPluginSource</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>QSWeatherPluginSource</key>
			<string>QSWeatherPluginSource</string>
		</dict>
		<key>QSPreferencePanes</key>
		<dict>
			<key>QSWeatherPlugin_PrefPane</key>
			<dict>
				<key>class</key>
				<string>QSWeatherPreferencePane</string>
				<key>description</key>
				<string>Preferences</string>
				<key>icon</key>
				<string></string>
				<key>name</key>
				<string>Weather</string>
			</dict>
		</dict>
	</dict>
	<key>QSRequirementsTemplate</key>
	<dict>
		<key>bundlesTemplate</key>
		<array>
			<dict>
				<key>id</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>version</key>
				<string></string>
			</dict>
		</array>
		<key>feature</key>
		<integer>0</integer>
		<key>launchLoad</key>
		<false/>
		<key>pathsTemplate</key>
		<array>
			<string>/path/to/something</string>
		</array>
		<key>pluginsTemplate</key>
		<array>
			<dict>
				<key>id</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>version</key>
				<string></string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
