<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>File Compression Module</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.QSCompressionPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>File Compression Module</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>14A</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2004, Blacktree, Inc.</string>
	<key>QSActions</key>
	<dict>
		<key>QSFileCompressAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSCompressionActionProvider</string>
			<key>actionSelector</key>
			<string>compressFile:</string>
			<key>directTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
			<key>displaysResult</key>
			<integer>1</integer>
			<key>icon</key>
			<string>com.apple.archiveutility</string>
			<key>name</key>
			<string>Compress (Create Archive)</string>
		</dict>
		<key>QSFileCompressUsingAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSCompressionActionProvider</string>
			<key>actionSelector</key>
			<string>compressFile:withFormat:</string>
			<key>directTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
			<key>displaysResult</key>
			<integer>1</integer>
			<key>icon</key>
			<string>com.apple.archiveutility</string>
			<key>name</key>
			<string>Compress Using...</string>
		</dict>
		<key>QSFileDecompressAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSCompressionActionProvider</string>
			<key>actionSelector</key>
			<string>decompressFile:</string>
			<key>directFileTypes</key>
			<array>
				<string>zip</string>
				<string>cpio</string>
				<string>cpgz</string>
			</array>
			<key>directTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
			<key>displaysResult</key>
			<integer>1</integer>
			<key>icon</key>
			<string>com.apple.archiveutility</string>
			<key>name</key>
			<string>Decompress</string>
			<key>rankModification</key>
			<real>4</real>
			<key>validatesObjects</key>
			<true/>
		</dict>
	</dict>
	<key>QSDefaults</key>
	<dict>
		<key>QSCompressionDefaultType</key>
		<string>zip</string>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Blacktree, Inc.</string>
		<key>categories</key>
		<array>
			<string>Files</string>
			<string>Utility</string>
		</array>
		<key>description</key>
		<string>File Compress/Decompress Actions</string>
		<key>icon</key>
		<string>com.apple.bomarchivehelper</string>
	</dict>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSCompressionActionProvider</key>
			<string>QSCompressionActionProvider</string>
		</dict>
		<key>QSFileCompressors</key>
		<dict>
			<key>cpgz</key>
			<dict>
				<key>class</key>
				<string>QSCompressionActionProvider</string>
				<key>extension</key>
				<string>cpgz</string>
				<key>icon</key>
				<string></string>
				<key>selector</key>
				<string>cpgzCompress:destination:</string>
			</dict>
			<key>cpio</key>
			<dict>
				<key>class</key>
				<string>QSCompressionActionProvider</string>
				<key>extension</key>
				<string>cpio</string>
				<key>icon</key>
				<string></string>
				<key>selector</key>
				<string>cpioCompress:destination:</string>
			</dict>
			<key>tbz</key>
			<dict>
				<key>class</key>
				<string>QSCompressionActionProvider</string>
				<key>extension</key>
				<string>tbz</string>
				<key>icon</key>
				<string></string>
				<key>selector</key>
				<string>tbzCompress:destination:</string>
			</dict>
			<key>tgz</key>
			<dict>
				<key>class</key>
				<string>QSCompressionActionProvider</string>
				<key>extension</key>
				<string>tgz</string>
				<key>icon</key>
				<string></string>
				<key>selector</key>
				<string>tgzCompress:destination:</string>
			</dict>
			<key>zip</key>
			<dict>
				<key>class</key>
				<string>QSCompressionActionProvider</string>
				<key>extension</key>
				<string>zip</string>
				<key>icon</key>
				<string></string>
				<key>selector</key>
				<string>zipCompress:destination:</string>
			</dict>
		</dict>
		<key>QSPreferencePanes</key>
		<dict>
			<key>QSCompressionPrefPane</key>
			<dict>
				<key>class</key>
				<string>QSPreferencePane</string>
				<key>description</key>
				<string>Destination and Format Options</string>
				<key>icon</key>
				<string>com.apple.bomarchivehelper</string>
				<key>name</key>
				<string>Compression</string>
				<key>nibBundle</key>
				<string>com.blacktree.Quicksilver.QSCompressionPlugIn</string>
				<key>nibName</key>
				<string>QSCompressionPrefPane</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
