<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Yojimbo Module</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.QSYojimboPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Yojimbo Module</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>D3</string>
	<key>QSActions</key>
	<dict>
		<key>QSYojimboAddAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSYojimboPlugInAction</string>
			<key>actionSelector</key>
			<string>addObject:withName:</string>
			<key>directFileTypes</key>
			<array>
				<string>pdf</string>
				<string>rtf</string>
				<string>txt</string>
				<string>jpeg</string>
				<string>jpg</string>
				<string>png</string>
				<string>gif</string>
			</array>
			<key>directTypes</key>
			<array>
				<string>NSStringPboardType</string>
				<string>Apple URL pasteboard type</string>
				<string>NSFilenamesPboardType</string>
			</array>
			<key>displaysResult</key>
			<true/>
			<key>icon</key>
			<string>com.barebones.yojimbo</string>
			<key>indirectOptional</key>
			<false/>
			<key>indirectTypes</key>
			<array>
				<string>NSString</string>
			</array>
			<key>name</key>
			<string>Add to Yojimbo…</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>QSYojimboAddArchiveAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSYojimboPlugInAction</string>
			<key>actionSelector</key>
			<string>addObjectArchive:</string>
			<key>directTypes</key>
			<array>
				<string>Apple URL pasteboard type</string>
			</array>
			<key>displaysResult</key>
			<true/>
			<key>icon</key>
			<string>com.barebones.yojimbo</string>
			<key>name</key>
			<string>Archive to Yojimbo</string>
		</dict>
		<key>QSYojimboAppendAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSYojimboPlugInAction</string>
			<key>actionSelector</key>
			<string>appendToNote:content:</string>
			<key>directTypes</key>
			<array>
				<string>com.barebones.yojimbo.item</string>
			</array>
			<key>enabled</key>
			<true/>
			<key>icon</key>
			<string>com.barebones.yojimbo</string>
			<key>name</key>
			<string>Append text…</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>QSYojimboShowAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSYojimboPlugInAction</string>
			<key>actionSelector</key>
			<string>showObject:</string>
			<key>directTypes</key>
			<array>
				<string>com.barebones.yojimbo.item</string>
			</array>
			<key>icon</key>
			<string>com.barebones.yojimbo</string>
			<key>name</key>
			<string>Show in Yojimbo</string>
			<key>precedence</key>
			<string>2</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>QSYojimboTagAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSYojimboPlugInAction</string>
			<key>actionSelector</key>
			<string>addTagsToItem:withTags:</string>
			<key>directTypes</key>
			<array>
				<string>com.barebones.yojimbo.item</string>
			</array>
			<key>icon</key>
			<string>com.barebones.yojimbo</string>
			<key>indirectOptional</key>
			<false/>
			<key>indirectTypes</key>
			<array>
				<string>NSString</string>
				<string>com.barebones.yojimbo.tag</string>
			</array>
			<key>name</key>
			<string>Add Tags to Item…</string>
			<key>precedence</key>
			<string>1</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Rob McBroom and many others</string>
		<key>categories</key>
		<array>
			<string>Text</string>
			<string>Database</string>
			<string>Applications</string>
		</array>
		<key>description</key>
		<string>Add and Access Yojimbo Items</string>
		<key>extendedDescription</key>
		<string>&lt;h1 id=&quot;yojimbo_module&quot;&gt;Yojimbo Module&lt;/h1&gt;

&lt;h2 id=&quot;overview&quot;&gt;Overview&lt;/h2&gt;

&lt;p&gt;This plug-in allows you to quickly find, add, and modify items in your Yojimbo library using Quicksilver. It also makes great use of your tags.&lt;/p&gt;

&lt;p&gt;This plug-in works with Yojimbo 2.x. It will not work with 1.x. All actions that add or modify items in Yojimbo&apos;s library use BareBones supported AppleScript techniques.&lt;/p&gt;

&lt;h2 id=&quot;actions&quot;&gt;Actions&lt;/h2&gt;

&lt;ul&gt;
&lt;li&gt;&lt;p&gt;Add to Yojimbo…&lt;/p&gt;

&lt;p&gt;If you type, paste or &quot;grab&quot; some text into Quicksilver, you can add it as a new note Yojimbo with this action. You can also add files. Currently, it will allow PDF, TXT, RTF, JPEG, PNG and GIF. I couldn&apos;t find a complete list of supported types, but if you need to add something else, a workaround is to use &quot;Open with… ⇥ Yojimbo&quot;.&lt;/p&gt;

&lt;p&gt;You&apos;ll be asked for a name for the new item in the third pane. There should be a reasonable default.&lt;/p&gt;&lt;/li&gt;
&lt;li&gt;&lt;p&gt;Archive to Yojimbo&lt;/p&gt;

&lt;p&gt;With a URL selected in Quicksilver, you can add the page it references as a web archive.&lt;/p&gt;&lt;/li&gt;
&lt;li&gt;&lt;p&gt;Show in Yojimbo&lt;/p&gt;

&lt;p&gt;With a Yojimbo item in Quicksilver&apos;s first pane, this should be the default action. It will open (or switch to) Yojimbo with the item selected.&lt;/p&gt;&lt;/li&gt;
&lt;li&gt;&lt;p&gt;Add Tags to Item…&lt;/p&gt;

&lt;p&gt;With a Yojimbo item in Quicksilver&apos;s first pane, you can add tags to it using this action. The third pane will present a list of existing Yojimbo tags. You can select multiple tags using the comma trick, enter tags manually in text-entry mode, or a combination of those.&lt;/p&gt;

&lt;p&gt;Note: You cannot add multiple tags in text-entry mode by typing them all at once, but you can enter one at a time as text by typing one, hitting ⎋ then , then . and entering another.&lt;/p&gt;&lt;/li&gt;
&lt;li&gt;&lt;p&gt;Append text…&lt;/p&gt;

&lt;p&gt;With a Yojimbo note item in Quicksilver&apos;s first pane, you can append text to the contents of the note. Enter the text to append in the third pane.&lt;/p&gt;&lt;/li&gt;
&lt;/ul&gt;

&lt;h2 id=&quot;workflow&quot;&gt;Workflow&lt;/h2&gt;

&lt;p&gt;Here are a couple of examples of how you might use Quicksilver to interact with Yojimbo.&lt;/p&gt;

&lt;h3 id=&quot;adding_an_item&quot;&gt;Adding an Item&lt;/h3&gt;

&lt;ol&gt;
&lt;li&gt;Select text or a file in Quicksilver.&lt;/li&gt;
&lt;li&gt;Choose &quot;Add to Yojimbo…&quot; in the second pane.&lt;/li&gt;
&lt;li&gt;Tab to the third pane to enter a name (or accept the default).&lt;/li&gt;
&lt;li&gt;Hit ↩&lt;/li&gt;
&lt;li&gt;The item will be added to Yojimbo and Quicksilver will pop back up with the item in the first pane.&lt;/li&gt;
&lt;li&gt;Choose &quot;Add Tags to Item…&quot; in the second pane. (You can also open the item, or just hit ⎋ if you don&apos;t want to do anything further.)&lt;/li&gt;
&lt;li&gt;Select or type the tags you want to assign.&lt;/li&gt;
&lt;li&gt;Hit ↩&lt;/li&gt;
&lt;/ol&gt;

&lt;h3 id=&quot;locating_items&quot;&gt;Locating Items&lt;/h3&gt;

&lt;p&gt;All of the items in your Yojimbo library are added directly to the catalog, so simply typing a few characters of the item&apos;s name might be enough to find it, but…&lt;/p&gt;

&lt;p&gt;All of your tags in Yojimbo are also added to the catalog. If you locate and select a tag, then hit → or /, you will get a list of items in your library that have that tag.&lt;/p&gt;

&lt;p&gt;If you locate and select the Yojimbo application itself and hit → or /, you&apos;ll go directly to a list of tags. From there, you can hit → or / to go &quot;into&quot; a tag and see individual items.&lt;/p&gt;</string>
		<key>icon</key>
		<string>com.barebones.yojimbo</string>
		<key>qsversion</key>
		<string>29CC</string>
		<key>relatedBundles </key>
		<array>
			<string>com.barebones.yojimbo</string>
		</array>
	</dict>
	<key>QSPresetAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetQSYojimboPlugIn</string>
			<key>name</key>
			<string>Yojimbo Items and Tags</string>
			<key>source</key>
			<string>QSYojimboPlugInSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSYojimboPlugInAction</key>
			<string>QSYojimboPlugInAction</string>
		</dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>com.barebones.yojimbo</key>
			<string>QSYojimboPlugInSource</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>com.barebones.yojimbo.item</key>
			<string>QSYojimboPlugInSource</string>
			<key>com.barebones.yojimbo.tag</key>
			<string>QSYojimboPlugInSource</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>QSYojimboPlugInSource</key>
			<string>QSYojimboPlugInSource</string>
		</dict>
	</dict>
</dict>
</plist>
