<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Yojimbo Module</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.QSYojimboPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Yojimbo Module</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>C3</string>
	<key>QSActions</key>
	<dict>
		<key>QSYojimboAddAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSYojimboPlugInAction</string>
			<key>actionSelector</key>
			<string>addObject:withName:</string>
			<key>directFileTypes</key>
			<array>
				<string>pdf</string>
				<string>rtf</string>
				<string>txt</string>
				<string>jpeg</string>
				<string>jpg</string>
				<string>png</string>
				<string>gif</string>
			</array>
			<key>directTypes</key>
			<array>
				<string>NSStringPboardType</string>
				<string>Apple URL pasteboard type</string>
				<string>NSFilenamesPboardType</string>
			</array>
			<key>displaysResult</key>
			<true/>
			<key>icon</key>
			<string>com.barebones.yojimbo</string>
			<key>indirectOptional</key>
			<false/>
			<key>indirectTypes</key>
			<array>
				<string>NSString</string>
			</array>
			<key>name</key>
			<string>Add to Yojimbo…</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>QSYojimboAddArchiveAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSYojimboPlugInAction</string>
			<key>actionSelector</key>
			<string>addObjectArchive:</string>
			<key>directTypes</key>
			<array>
				<string>Apple URL pasteboard type</string>
			</array>
			<key>displaysResult</key>
			<true/>
			<key>icon</key>
			<string>com.barebones.yojimbo</string>
			<key>name</key>
			<string>Archive to Yojimbo</string>
		</dict>
		<key>QSYojimboAppendAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSYojimboPlugInAction</string>
			<key>actionSelector</key>
			<string>appendToNote:content:</string>
			<key>directTypes</key>
			<array>
				<string>com.barebones.yojimbo.item</string>
			</array>
			<key>enabled</key>
			<false/>
			<key>icon</key>
			<string>com.barebones.yojimbo</string>
			<key>name</key>
			<string>Append Text</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>QSYojimboShowAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSYojimboPlugInAction</string>
			<key>actionSelector</key>
			<string>showObject:</string>
			<key>directTypes</key>
			<array>
				<string>com.barebones.yojimbo.item</string>
			</array>
			<key>icon</key>
			<string>com.barebones.yojimbo</string>
			<key>name</key>
			<string>Show in Yojimbo</string>
			<key>precedence</key>
			<string>2</string>
		</dict>
		<key>QSYojimboTagAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSYojimboPlugInAction</string>
			<key>actionSelector</key>
			<string>addTagsToItem:withTags:</string>
			<key>directTypes</key>
			<array>
				<string>com.barebones.yojimbo.item</string>
			</array>
			<key>icon</key>
			<string>com.barebones.yojimbo</string>
			<key>indirectOptional</key>
			<false/>
			<key>indirectTypes</key>
			<array>
				<string>NSString</string>
				<string>com.barebones.yojimbo.tag</string>
			</array>
			<key>name</key>
			<string>Add Tags to Item…</string>
			<key>precedence</key>
			<string>1</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>categories</key>
		<array>
			<string>Text</string>
			<string>Database</string>
			<string>Applications</string>
		</array>
		<key>description</key>
		<string>Add and Access Yojimbo Items</string>
		<key>icon</key>
		<string>com.barebones.yojimbo</string>
		<key>qsversion</key>
		<string>29CC</string>
		<key>author</key>
		<string>Rob McBroom and many others</string>
		<key>relatedBundles </key>
		<array>
			<string>com.barebones.yojimbo</string>
		</array>
	</dict>
	<key>QSPresetAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetQSYojimboPlugIn</string>
			<key>name</key>
			<string>Yojimbo Items and Tags</string>
			<key>source</key>
			<string>QSYojimboPlugInSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSYojimboPlugInAction</key>
			<string>QSYojimboPlugInAction</string>
		</dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>com.barebones.yojimbo</key>
			<string>QSYojimboPlugInSource</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>com.barebones.yojimbo.item</key>
			<string>QSYojimboPlugInSource</string>
			<key>com.barebones.yojimbo.tag</key>
			<string>QSYojimboPlugInSource</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>QSYojimboPlugInSource</key>
			<string>QSYojimboPlugInSource</string>
		</dict>
	</dict>
</dict>
</plist>
