<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Keychain Module</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.QSKeychainPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Keychain Module</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>13C</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2004, Blacktree, Inc.</string>
	<key>QSActions</key>
	<dict>
		<key>QSKeychainItemCopyPasswordAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSKeychainActionProvider</string>
			<key>actionSelector</key>
			<string>copyPassword:</string>
			<key>description</key>
			<string>Copy password to the clipboard</string>
			<key>directTypes</key>
			<array>
				<string>QSKeychainGenericPasswordType</string>
				<string>QSKeychainInternetPasswordType</string>
				<string>QSKeychainAppleSharePasswordType</string>
			</array>
			<key>icon</key>
			<string>com.apple.keychainaccess</string>
			<key>name</key>
			<string>Copy Password</string>
			<key>rankModification</key>
			<real>0.10000000000000001</real>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>QSKeychainItemGetPasswordAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSKeychainActionProvider</string>
			<key>actionSelector</key>
			<string>getPassword:</string>
			<key>description</key>
			<string>Return password to command</string>
			<key>directTypes</key>
			<array>
				<string>QSKeychainGenericPasswordType</string>
				<string>QSKeychainInternetPasswordType</string>
				<string>QSKeychainAppleSharePasswordType</string>
			</array>
			<key>displaysResult</key>
			<true/>
			<key>icon</key>
			<string>com.apple.keychainaccess</string>
			<key>name</key>
			<string>Get Password</string>
			<key>rankModification</key>
			<real>0.10000000000000001</real>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>QSKeychainItemPastePasswordAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSKeychainActionProvider</string>
			<key>actionSelector</key>
			<string>pastePassword:</string>
			<key>description</key>
			<string>Paste password to the current application</string>
			<key>directTypes</key>
			<array>
				<string>QSKeychainGenericPasswordType</string>
				<string>QSKeychainInternetPasswordType</string>
				<string>QSKeychainAppleSharePasswordType</string>
			</array>
			<key>icon</key>
			<string>com.apple.keychainaccess</string>
			<key>name</key>
			<string>Paste Password</string>
			<key>rankModification</key>
			<real>0.10000000000000001</real>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>QSKeychainShowAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSKeychainActionProvider</string>
			<key>actionSelector</key>
			<string>showKeychainItem:</string>
			<key>directTypes</key>
			<array>
				<string>QSKeychainGenericPasswordType</string>
				<string>QSKeychainInternetPasswordType</string>
				<string>QSKeychainAppleSharePasswordType</string>
			</array>
			<key>disabled</key>
			<true/>
			<key>feature</key>
			<integer>4</integer>
			<key>icon</key>
			<string>com.apple.keychainaccess</string>
			<key>rankModification</key>
			<real>0.10000000000000001</real>
			<key>validatesObjects</key>
			<false/>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Blacktree, Inc.</string>
		<key>categories</key>
		<array>
			<string>System</string>
		</array>
		<key>description</key>
		<string>Access to Keychain entries</string>
		<key>icon</key>
		<string>com.apple.keychainaccess</string>
		<key>relatedBundles</key>
		<array>
			<string>com.apple.keychainaccess</string>
		</array>
		<key>requiresFeature</key>
		<string>1</string>
	</dict>
	<key>QSPresetAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetKeychains</string>
			<key>name</key>
			<string>Keychains</string>
			<key>requiresBundle</key>
			<string>com.apple.keychainaccess</string>
			<key>source</key>
			<string>QSKeychainSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSKeychainActionProvider</key>
			<string>QSKeychainActionProvider</string>
		</dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>com.apple.keychainaccess</key>
			<string>QSKeychainSource</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>QSKeychainAppleSharePasswordType</key>
			<string>QSKeychainSource</string>
			<key>QSKeychainGenericPasswordType</key>
			<string>QSKeychainSource</string>
			<key>QSKeychainInternetPasswordType</key>
			<string>QSKeychainSource</string>
			<key>QSKeychainType</key>
			<string>QSKeychainSource</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>QSKeychainSource</key>
			<string>QSKeychainSource</string>
		</dict>
	</dict>
	<key>QSResourceAdditions</key>
	<dict>
		<key>KeychainKeyIcon</key>
		<dict>
			<key>bundle</key>
			<string>com.apple.keychainaccess</string>
			<key>resource</key>
			<string>Key_Large.tif</string>
		</dict>
		<key>KeychainNetVolIcon</key>
		<dict>
			<key>bundle</key>
			<string>com.apple.keychainaccess</string>
			<key>resource</key>
			<string>AppleShare Large.tif</string>
		</dict>
		<key>KeychainSecureNoteIcon</key>
		<dict>
			<key>bundle</key>
			<string>com.apple.keychainaccess</string>
			<key>resource</key>
			<string>Secure Note Large.tif</string>
		</dict>
		<key>KeychainURLIcon</key>
		<dict>
			<key>bundle</key>
			<string>com.apple.keychainaccess</string>
			<key>resource</key>
			<string>Internet_Large.tif</string>
		</dict>
	</dict>
</dict>
</plist>
