<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.QSAppleMailPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Apple Mail Module</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>118</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2006, Blacktree, Inc.</string>
	<key>QSActions</key>
	<dict>
		<key>QSAppleMailMailboxOpenAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSAppleMailPlugIn_Action</string>
			<key>actionSelector</key>
			<string>revealMailbox:</string>
			<key>directTypes</key>
			<array>
				<string>qs.mail.mailbox</string>
			</array>
			<key>icon</key>
			<string>com.apple.mail</string>
			<key>name</key>
			<string>Open Mailbox</string>
		</dict>
		<key>QSAppleMailMessageDeleteAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSAppleMailPlugIn_Action</string>
			<key>actionSelector</key>
			<string>deleteMessage:</string>
			<key>directTypes</key>
			<array>
				<string>qs.mail.message</string>
			</array>
			<key>icon</key>
			<string>com.apple.mail</string>
			<key>name</key>
			<string>Delete Message</string>
		</dict>
		<key>QSAppleMailMessageMoveAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSAppleMailPlugIn_Action</string>
			<key>actionSelector</key>
			<string>moveMessage:toMailbox:</string>
			<key>directTypes</key>
			<array>
				<string>qs.mail.message</string>
			</array>
			<key>icon</key>
			<string>com.apple.mail</string>
			<key>indirectTypes</key>
			<array>
				<string>qs.mail.mailbox</string>
			</array>
			<key>name</key>
			<string>Move to Mailbox...</string>
		</dict>
		<key>QSAppleMailMessageOpenAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSAppleMailPlugIn_Action</string>
			<key>actionSelector</key>
			<string>revealMessage:</string>
			<key>directTypes</key>
			<array>
				<string>qs.mail.message</string>
			</array>
			<key>icon</key>
			<string>com.apple.mail</string>
			<key>name</key>
			<string>Open Message</string>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Blacktree, Inc.</string>
		<key>categories</key>
		<array>
			<string>Applications</string>
			<string>Mail &amp; Chat</string>
		</array>
		<key>description</key>
		<string>Enables browsing and email actions for Apple Mail</string>
		<key>extendedDescription</key>
		<string>&lt;h3&gt;Apple Mail.app Plugin&lt;/h3&gt;

&lt;p&gt;This plugin lets you browse your mailboxes and mails contained in &lt;a href=&quot;http://www.apple.com/macosx/features/mail/&quot;&gt;Apple Mail.app&lt;/a&gt; and provides some appropriate actions.&lt;/p&gt;

&lt;p&gt;Just call up &lt;em&gt;Mail.app&lt;/em&gt; in the first pane and &quot;arrow into&quot; it. It will reveal all mailboxes/mail folders for each mail account. Arrowing into a mailbox reveals all mails in that folder and arrowing into a mail shows the body text of a mail as well as the mail address associated with it.&lt;/p&gt;

&lt;p&gt;The plugin provides the following actions:
	&lt;ul&gt;
		&lt;li&gt;&lt;strong&gt;Get New Mail&lt;/strong&gt; - Recieves new mails for all accounts.&lt;/li&gt;
		&lt;li&gt;&lt;strong&gt;Open New Messages&lt;/strong&gt; - Opens all unread messages.&lt;/li&gt;
		&lt;li&gt;&lt;strong&gt;Open Mailbox&lt;/strong&gt; - When a mailbox is selected in the first pane, this actions opens it in &lt;em&gt;Mail.app&lt;/em&gt;.&lt;/li&gt;
		&lt;li&gt;&lt;strong&gt;Open Message&lt;/strong&gt; - When a message is selected in the first pane, this actions opens it in its own window in &lt;em&gt;Mail.app&lt;/em&gt;&lt;/li&gt;
		&lt;li&gt;&lt;strong&gt;Move to Mailbox...&lt;/strong&gt; - When a message is selected in the first pane, this action moves the message from the current mailbox into another one. The new mailbox can be selected in the third pane.&lt;/li&gt;
		&lt;li&gt;&lt;strong&gt;Delete Message&lt;/strong&gt; - Deletes the selected message from a mailbox.&lt;/li&gt;
	&lt;/ul&gt;
&lt;/p&gt;

&lt;p&gt;&lt;strong&gt;Note:&lt;/strong&gt; It has only been tested with IMAP accounts.&lt;/p&gt;</string>
		<key>icon</key>
		<string>com.apple.Mail</string>
		<key>relatedBundles</key>
		<array>
			<string>com.apple.Mail</string>
		</array>
	</dict>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSAppleMailPlugIn_Action</key>
			<string>QSAppleMailPlugIn_Action</string>
		</dict>
		<key>QSApplicationActions</key>
		<dict>
			<key>com.apple.mail</key>
			<dict>
				<key>QSMailGetNewMailCommand</key>
				<dict>
					<key>actionClass</key>
					<string>QSCommandObjectHandler</string>
					<key>command</key>
					<string>QSMailGetNewMailCommand</string>
					<key>icon</key>
					<string>com.apple.mail</string>
					<key>name</key>
					<string>Get New Mail</string>
				</dict>
				<key>QSMailOpenNewMailCommand</key>
				<dict>
					<key>actionClass</key>
					<string>QSCommandObjectHandler</string>
					<key>command</key>
					<string>QSMailOpenNewMailCommand</string>
					<key>icon</key>
					<string>com.apple.mail</string>
					<key>name</key>
					<string>Open New Mail</string>
				</dict>
			</dict>
		</dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>com.apple.mail</key>
			<string>QSAppleMailPlugIn_Source</string>
		</dict>
		<key>QSBundleDrawingHandlers</key>
		<dict>
			<key>com.apple.mail</key>
			<string>QSAppleMailMediator</string>
		</dict>
		<key>QSCommands</key>
		<dict>
			<key>QSMailGetNewMailCommand</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>AppleScriptRunAction</string>
					<key>directResource</key>
					<dict>
						<key>bundle</key>
						<string>com.blacktree.Quicksilver.QSAppleMailPlugIn</string>
						<key>path</key>
						<string>Contents/Resources/Scripts/Get New Mail.scpt</string>
					</dict>
				</dict>
				<key>name</key>
				<string>Get New Mail</string>
			</dict>
			<key>QSMailOpenNewMailCommand</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>AppleScriptRunAction</string>
					<key>directResource</key>
					<dict>
						<key>bundle</key>
						<string>com.blacktree.Quicksilver.QSAppleMailPlugIn</string>
						<key>path</key>
						<string>Contents/Resources/Scripts/Open New Mail.scpt</string>
					</dict>
				</dict>
				<key>name</key>
				<string>Open New Messages</string>
			</dict>
		</dict>
		<key>QSFileObjectCreationHandlers</key>
		<dict>
			<key>com.apple.mail.emlx</key>
			<string>QSAppleMailPlugIn_Source</string>
		</dict>
		<key>QSMailMediators</key>
		<dict>
			<key>com.apple.mail</key>
			<string>QSAppleMailMediator</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>qs.mail.mailbox</key>
			<string>QSAppleMailPlugIn_Source</string>
			<key>qs.mail.message</key>
			<string>QSAppleMailPlugIn_Source</string>
		</dict>
	</dict>
	<key>QSRequirements</key>
	<dict>
		<key>plugins</key>
		<array>
			<dict>
				<key>id</key>
				<string>com.blacktree.Quicksilver.QSEmailSupport</string>
				<key>name</key>
				<string>Mail Support</string>
			</dict>
		</array>
	</dict>
	<key>QSResourceAdditions</key>
	<dict>
		<key>MailMailbox</key>
		<dict>
			<key>bundle</key>
			<string>com.apple.mail</string>
			<key>resource</key>
			<string>mbox.icns</string>
		</dict>
		<key>MailMailbox-Drafts</key>
		<dict>
			<key>bundle</key>
			<string>com.apple.mail</string>
			<key>resource</key>
			<string>DraftsMailboxLarge.tiff</string>
		</dict>
		<key>MailMailbox-Inbox</key>
		<dict>
			<key>bundle</key>
			<string>com.apple.mail</string>
			<key>resource</key>
			<string>mbox.icns</string>
		</dict>
		<key>MailMailbox-Junk</key>
		<dict>
			<key>bundle</key>
			<string>com.apple.mail</string>
			<key>resource</key>
			<string>junkmail.tiff</string>
		</dict>
		<key>MailMailbox-Out</key>
		<dict>
			<key>bundle</key>
			<string>com.apple.mail</string>
			<key>resource</key>
			<string>ToBeDeliveredMailboxLarge.tiff</string>
		</dict>
		<key>MailMailbox-Sent</key>
		<dict>
			<key>bundle</key>
			<string>com.apple.mail</string>
			<key>resource</key>
			<string>OutMailboxLarge.tiff</string>
		</dict>
		<key>MailMessage</key>
		<dict>
			<key>bundle</key>
			<string>com.apple.mail</string>
			<key>resource</key>
			<string>app.icns</string>
		</dict>
	</dict>
</dict>
</plist>
