<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>MYWeatherPlugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.MYWeatherPlugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Weather Plugin</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>2D</string>
	<key>NSPrincipalClass</key>
	<string>MYWeatherPlugin</string>
	<key>QSActions</key>
	<dict>
		<key>MYWeatherPluginAction</key>
		<dict>
			<key>actionClass</key>
			<string>MYWeatherPlugin_Action</string>
			<key>actionSelector</key>
			<string>getCurrentConditions:</string>
			<key>directTypes</key>
			<array>
				<string>NSStringPboardType</string>
				<string>MYWeatherPlugin_Type</string>
			</array>
			<key>name</key>
			<string>Get Current Conditions</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>MrChucho</string>
		<key>categories</key>
		<array/>
		<key>description</key>
		<string>Gets Current Conditions and Forecast</string>
		<key>relatedBundles </key>
		<array/>
		<key>webIcon</key>
		<string></string>
	</dict>
	<key>QSPresetAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetMYWeatherPlugin</string>
			<key>name</key>
			<string>Current Conditions and Forecast</string>
			<key>source</key>
			<string>MYWeatherPlugin_Source</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>MYWeatherPlugin_Action</key>
			<string>MYWeatherPlugin_Action</string>
		</dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>com.apple.whatever</key>
			<string>MYWeatherPlugin_Source</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>MYWeatherPlugin_Type</key>
			<string>MYWeatherPlugin_Source</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>MYWeatherPlugin_Source</key>
			<string>MYWeatherPlugin_Source</string>
		</dict>
	</dict>
	<key>QSRequirementsTemplate</key>
	<dict>
		<key>bundlesTemplate</key>
		<array>
			<dict>
				<key>id</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>version</key>
				<string></string>
			</dict>
		</array>
		<key>feature</key>
		<integer>1</integer>
		<key>launchLoad</key>
		<false/>
		<key>pathsTemplate</key>
		<array>
			<string>/path/to/something</string>
		</array>
		<key>pluginsTemplate</key>
		<array>
			<dict>
				<key>id</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>version</key>
				<string></string>
			</dict>
		</array>
		<key>version</key>
		<string>1337</string>
	</dict>
</dict>
</plist>
