<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Clipboard</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.QSClipboardPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Clipboard Module</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>FD</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2004, Blacktree, Inc.</string>
	<key>NSPrincipalClass</key>
	<string>QSPasteboardController</string>
	<key>QSLoadImmediately</key>
	<true/>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Blacktree, Inc.</string>
		<key>categories</key>
		<array>
			<string>Text</string>
			<string>System</string>
		</array>
		<key>description</key>
		<string>Allows clipboard recording and adds a clipboard history window.</string>
		<key>extendedDescription</key>
		<string>Allows clipboard recording and adds a clipboard history window.</string>
		<key>icon</key>
		<string>Clipboard</string>
		<key>qsversion</key>
		<string>2A5F</string>
		<key>requiresFeature</key>
		<string>0</string>
	</dict>
	<key>QSRegistration</key>
	<dict>
		<key>QSInternalMessages</key>
		<dict>
			<key>QSClipboardPaste</key>
			<dict>
				<key>action</key>
				<string>qsPaste:</string>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Paste Selection from Clipboard</string>
				<key>target</key>
				<string>QSPasteboardController</string>
			</dict>
			<key>QSClipboardQueueShowMessage</key>
			<dict>
				<key>action</key>
				<string>showQueue:</string>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Show Clipboard Cache (pOld)</string>
				<key>target</key>
				<string>QSPasteboardController</string>
			</dict>
			<key>QSClipboardShowMessage</key>
			<dict>
				<key>action</key>
				<string>showClipboard:</string>
				<key>classMethod</key>
				<true/>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Show Clipboard</string>
				<key>target</key>
				<string>QSPasteboardController</string>
			</dict>
			<key>QSClipboardStackShowMessage</key>
			<dict>
				<key>action</key>
				<string>showStack:</string>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Show Clipboard Cache (pNew)</string>
				<key>target</key>
				<string>QSPasteboardController</string>
			</dict>
			<key>QSClipboardStorageCopy0</key>
			<dict>
				<key>action</key>
				<string>storeCopy:</string>
				<key>argument</key>
				<integer>0</integer>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Clip Store Copy 0</string>
				<key>target</key>
				<string>QSPasteboardController</string>
			</dict>
			<key>QSClipboardStorageCopy1</key>
			<dict>
				<key>action</key>
				<string>storeCopy:</string>
				<key>argument</key>
				<integer>1</integer>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Clip Store Copy 1</string>
				<key>target</key>
				<string>QSPasteboardController</string>
			</dict>
			<key>QSClipboardStorageCopy2</key>
			<dict>
				<key>action</key>
				<string>storeCopy:</string>
				<key>argument</key>
				<integer>2</integer>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Clip Store Copy 2</string>
				<key>target</key>
				<string>QSPasteboardController</string>
			</dict>
			<key>QSClipboardStorageCopy3</key>
			<dict>
				<key>action</key>
				<string>storeCopy:</string>
				<key>argument</key>
				<integer>3</integer>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Clip Store Copy 3</string>
				<key>target</key>
				<string>QSPasteboardController</string>
			</dict>
			<key>QSClipboardStorageCopy4</key>
			<dict>
				<key>action</key>
				<string>storeCopy:</string>
				<key>argument</key>
				<integer>4</integer>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Clip Store Copy 4</string>
				<key>target</key>
				<string>QSPasteboardController</string>
			</dict>
			<key>QSClipboardStorageCopy5</key>
			<dict>
				<key>action</key>
				<string>storeCopy:</string>
				<key>argument</key>
				<integer>5</integer>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Clip Store Copy 5</string>
				<key>target</key>
				<string>QSPasteboardController</string>
			</dict>
			<key>QSClipboardStorageCopy6</key>
			<dict>
				<key>action</key>
				<string>storeCopy:</string>
				<key>argument</key>
				<integer>6</integer>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Clip Store Copy 6</string>
				<key>target</key>
				<string>QSPasteboardController</string>
			</dict>
			<key>QSClipboardStorageCopy7</key>
			<dict>
				<key>action</key>
				<string>storeCopy:</string>
				<key>argument</key>
				<integer>7</integer>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Clip Store Copy 7</string>
				<key>target</key>
				<string>QSPasteboardController</string>
			</dict>
			<key>QSClipboardStorageCopy8</key>
			<dict>
				<key>action</key>
				<string>storeCopy:</string>
				<key>argument</key>
				<integer>8</integer>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Clip Store Copy 8</string>
				<key>target</key>
				<string>QSPasteboardController</string>
			</dict>
			<key>QSClipboardStorageCopy9</key>
			<dict>
				<key>action</key>
				<string>storeCopy:</string>
				<key>argument</key>
				<integer>9</integer>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Clip Store Copy 9</string>
				<key>target</key>
				<string>QSPasteboardController</string>
			</dict>
			<key>QSClipboardStoragePaste0</key>
			<dict>
				<key>action</key>
				<string>storePaste:</string>
				<key>argument</key>
				<integer>0</integer>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Clip Store Paste 0</string>
				<key>target</key>
				<string>QSPasteboardController</string>
			</dict>
			<key>QSClipboardStoragePaste1</key>
			<dict>
				<key>action</key>
				<string>storePaste:</string>
				<key>argument</key>
				<integer>1</integer>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Clip Store Paste 1</string>
				<key>target</key>
				<string>QSPasteboardController</string>
			</dict>
			<key>QSClipboardStoragePaste2</key>
			<dict>
				<key>action</key>
				<string>storePaste:</string>
				<key>argument</key>
				<integer>2</integer>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Clip Store Paste 2</string>
				<key>target</key>
				<string>QSPasteboardController</string>
			</dict>
			<key>QSClipboardStoragePaste3</key>
			<dict>
				<key>action</key>
				<string>storePaste:</string>
				<key>argument</key>
				<integer>3</integer>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Clip Store Paste 3</string>
				<key>target</key>
				<string>QSPasteboardController</string>
			</dict>
			<key>QSClipboardStoragePaste4</key>
			<dict>
				<key>action</key>
				<string>storePaste:</string>
				<key>argument</key>
				<integer>4</integer>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Clip Store Paste 4</string>
				<key>target</key>
				<string>QSPasteboardController</string>
			</dict>
			<key>QSClipboardStoragePaste5</key>
			<dict>
				<key>action</key>
				<string>storePaste:</string>
				<key>argument</key>
				<integer>5</integer>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Clip Store Paste 5</string>
				<key>target</key>
				<string>QSPasteboardController</string>
			</dict>
			<key>QSClipboardStoragePaste6</key>
			<dict>
				<key>action</key>
				<string>storePaste:</string>
				<key>argument</key>
				<integer>6</integer>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Clip Store Paste 6</string>
				<key>target</key>
				<string>QSPasteboardController</string>
			</dict>
			<key>QSClipboardStoragePaste7</key>
			<dict>
				<key>action</key>
				<string>storePaste:</string>
				<key>argument</key>
				<integer>7</integer>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Clip Store Paste 7</string>
				<key>target</key>
				<string>QSPasteboardController</string>
			</dict>
			<key>QSClipboardStoragePaste8</key>
			<dict>
				<key>action</key>
				<string>storePaste:</string>
				<key>argument</key>
				<integer>8</integer>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Clip Store Paste 8</string>
				<key>target</key>
				<string>QSPasteboardController</string>
			</dict>
			<key>QSClipboardStoragePaste9</key>
			<dict>
				<key>action</key>
				<string>storePaste:</string>
				<key>argument</key>
				<integer>9</integer>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Clip Store Paste 9</string>
				<key>target</key>
				<string>QSPasteboardController</string>
			</dict>
			<key>QSClipboardStorageShowMessage</key>
			<dict>
				<key>action</key>
				<string>showStore:</string>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Show Clipboard Storage</string>
				<key>target</key>
				<string>QSPasteboardController</string>
			</dict>
		</dict>
		<key>QSInternalObjects</key>
		<dict>
			<key>QSClipboardObject</key>
			<dict>
				<key>handler</key>
				<string>QSPasteboardController</string>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Clipboard</string>
			</dict>
		</dict>
		<key>QSModules</key>
		<dict>
			<key>QSClipboardModule</key>
			<dict>
				<key>action</key>
				<string></string>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Clipboard Tool</string>
				<key>target</key>
				<string></string>
			</dict>
		</dict>
		<key>QSPreferencePanes</key>
		<dict>
			<key>QSPasteboardPrefPane</key>
			<dict>
				<key>class</key>
				<string>QSPreferencePane</string>
				<key>description</key>
				<string>Clipboard History Options</string>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Clipboard</string>
				<key>nibBundle</key>
				<string>com.blacktree.Quicksilver.QSClipboardPlugIn</string>
				<key>nibName</key>
				<string>QSPasteboardPrefPane</string>
			</dict>
		</dict>
		<key>QSProxies</key>
		<dict>
			<key>QSGeneralPasteboardProxy</key>
			<dict>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Clipboard Contents</string>
				<key>providerClass</key>
				<string>QSPasteboardController</string>
				<key>types</key>
				<array>
					<string>NSColorPboardType</string>
					<string>Apple URL pasteboard type</string>
					<string>NSFileContentsPboardType</string>
					<string>NSFilenamesPboardType</string>
					<string>NSFontPboardType</string>
					<string>NSHTMLPboardType</string>
					<string>NSPDFPboardType</string>
					<string>NSPICTPboardType</string>
					<string>NSPostScriptPboardType</string>
					<string>NSRulerPboardType</string>
					<string>NSRTFPboardType</string>
					<string>NSRTFDPboardType</string>
					<string>NSStringPboardType</string>
					<string>NSTabularTextPboardType</string>
					<string>NSTIFFPboardType</string>
					<string>NSURLPboardType</string>
					<string>NSVCardPboardType</string>
					<string>NSFilesPromisePboardType</string>
				</array>
			</dict>
		</dict>
		<key>QSShelfControllers</key>
		<dict>
			<key>QSPasteboardHistory</key>
			<string>QSPasteboardController</string>
		</dict>
	</dict>
	<key>QSResourceAdditions</key>
	<dict>
		<key>Clipboard</key>
		<dict>
			<key>bundle</key>
			<string>com.blacktree.Quicksilver.QSClipboardPlugIn</string>
			<key>resource</key>
			<string>Clipboard.icns</string>
		</dict>
	</dict>
</dict>
</plist>
