<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>QSAOLPlugIn</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.QSAOLPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>QSAOLPlugIn</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>1C</string>
	<key>NSPrincipalClass</key>
	<string>QSAOLPlugIn</string>
	<key>QSActionsTemplate</key>
	<dict>
		<key>QSAOLPlugInAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSAOLPlugInAction</string>
			<key>actionSelector</key>
			<string>performActionOnObject:</string>
			<key>directTypes</key>
			<array>
				<string>QSAOLPlugInType</string>
			</array>
			<key>name</key>
			<string>Action: QSAOLPlugIn</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string></string>
		<key>categories</key>
		<array>
			<string>Mail &amp; Chat</string>
		</array>
		<key>description</key>
		<string></string>
		<key>icon</key>
		<string></string>
		<key>qsversion</key>
		<string>29CC</string>
		<key>relatedBundles </key>
		<array/>
	</dict>
	<key>QSPresetAdditionsTemplate</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetQSAOLPlugIn</string>
			<key>name</key>
			<string>QSAOLPlugIn</string>
			<key>source</key>
			<string>QSAOLPlugInSource</string>
		</dict>
	</array>
	<key>QSRegistrationTemplate</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSAOLPlugInAction</key>
			<string>QSAOLPlugInAction</string>
		</dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>com.apple.whatever</key>
			<string>QSAOLPlugInSource</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>QSAOLPlugInType</key>
			<string>QSAOLPlugInSource</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>QSAOLPlugInSource</key>
			<string>QSAOLPlugInSource</string>
		</dict>
		<key>QSPreferencePanes</key>
		<dict>
			<key>QSAOLPlugIn_PrefPane</key>
			<string>QSAOLPlugIn_PrefPane</string>
		</dict>
	</dict>
	<key>QSRequirementsTemplate</key>
	<dict>
		<key>bundlesTemplate</key>
		<array>
			<dict>
				<key>id</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>version</key>
				<string></string>
			</dict>
		</array>
		<key>feature</key>
		<integer>0</integer>
		<key>launchLoad</key>
		<false/>
		<key>pathsTemplate</key>
		<array>
			<string>/path/to/something</string>
		</array>
		<key>pluginsTemplate</key>
		<array>
			<dict>
				<key>id</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>version</key>
				<string></string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
