<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Indigo X10 Module</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.QSIndigoPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Indigo X10 Module</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>6B</string>
	<key>NSPrincipalClass</key>
	<string>QSIndigoPlugIn</string>
	<key>QSActions</key>
	<dict>
		<key>QSIndigoBrightenAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSIndigoPlugIn_Action</string>
			<key>actionSelector</key>
			<string>brightenDevice:by:</string>
			<key>directTypes</key>
			<array>
				<string>QSX10AddressType</string>
			</array>
			<key>icon</key>
			<string>com.perceptiveautomation.indigo</string>
			<key>inactive</key>
			<string>1</string>
			<key>name</key>
			<string>Brighten...</string>
		</dict>
		<key>QSIndigoDimAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSIndigoPlugIn_Action</string>
			<key>actionSelector</key>
			<string>dimDevice:by:</string>
			<key>directTypes</key>
			<array>
				<string>QSX10AddressType</string>
			</array>
			<key>icon</key>
			<string>com.perceptiveautomation.indigo</string>
			<key>inactive</key>
			<string>1</string>
			<key>name</key>
			<string>Dim...</string>
		</dict>
		<key>QSIndigoOffAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSIndigoPlugIn_Action</string>
			<key>actionSelector</key>
			<string>turnOffDevice:</string>
			<key>directTypes</key>
			<array>
				<string>QSX10AddressType</string>
			</array>
			<key>icon</key>
			<string>com.perceptiveautomation.indigo</string>
			<key>name</key>
			<string>Turn Off</string>
		</dict>
		<key>QSIndigoOnAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSIndigoPlugIn_Action</string>
			<key>actionSelector</key>
			<string>turnOnDevice:</string>
			<key>directTypes</key>
			<array>
				<string>QSX10AddressType</string>
			</array>
			<key>icon</key>
			<string>com.perceptiveautomation.indigo</string>
			<key>name</key>
			<string>Turn On</string>
		</dict>
		<key>QSIndigoPresetAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSIndigoPlugIn_Action</string>
			<key>actionSelector</key>
			<string>presetDevice:by:</string>
			<key>directTypes</key>
			<array>
				<string>QSX10AddressType</string>
			</array>
			<key>icon</key>
			<string>com.perceptiveautomation.indigo</string>
			<key>inactive</key>
			<string>1</string>
			<key>name</key>
			<string>Set Level...</string>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Blacktree, Inc.</string>
		<key>categories</key>
		<array>
			<string>Applications</string>
		</array>
		<key>description</key>
		<string>Accesses Indigo's home automation features</string>
		<key>icon</key>
		<string>com.perceptiveautomation.indigo</string>
		<key>relatedBundles </key>
		<array>
			<string>com.perceptiveautomation.indigo</string>
		</array>
	</dict>
	<key>QSRegistration</key>
	<dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>com.perceptiveautomation.indigo</key>
			<string>QSIndigoPlugIn_Source</string>
		</dict>
		<key>QSFSFileTypeParsers</key>
		<dict>
			<key>indiDb</key>
			<string>QSIndigoDBParser</string>
		</dict>
		<key>QSFSParsers</key>
		<dict>
			<key>QSIndigoDBParser</key>
			<string>QSIndigoDBParser</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>QSX10AddressType</key>
			<string>QSIndigoPlugIn_Source</string>
		</dict>
		<key>QSPreferencePanes</key>
		<dict>
			<key>QSIndigoPrefPane</key>
			<dict>
				<key>class</key>
				<string>QSIndigoPrefPane</string>
				<key>description</key>
				<string>Preferences</string>
				<key>icon</key>
				<string>com.perceptiveautomation.indigo</string>
				<key>name</key>
				<string>Indigo</string>
			</dict>
		</dict>
	</dict>
	<key>QSRequirementsTemplate</key>
	<dict>
		<key>feature</key>
		<integer>2</integer>
	</dict>
</dict>
</plist>
