<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.QSWebSearchPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Web Search Module</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>213</string>
	<key>NSPrincipalClass</key>
	<string>QSWebSearchPlugIn</string>
	<key>QSActions</key>
	<dict>
		<key>QSURLFindWithAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSURLSearchActions</string>
			<key>actionSelector</key>
			<string>doURLSearchForAction:withString:</string>
			<key>description</key>
			<string>Find text on a website</string>
			<key>directTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>icon</key>
			<string>Find</string>
			<key>name</key>
			<string>Find With...</string>
			<key>reverseArguments</key>
			<string>YES</string>
			<key>validatesObjects</key>
			<string>YES</string>
		</dict>
		<key>QSURLSearchForAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSURLSearchActions</string>
			<key>actionSelector</key>
			<string>doURLSearchForAction:withString:</string>
			<key>alternateAction</key>
			<string>QSURLSearchForAndReturnAction</string>
			<key>description</key>
			<string>Search for text on a web site</string>
			<key>directTypes</key>
			<array>
				<string>Apple URL pasteboard type</string>
			</array>
			<key>icon</key>
			<string>Find</string>
			<key>name</key>
			<string>Search For...</string>
			<key>rankModification</key>
			<string>4.000000</string>
			<key>validatesObjects</key>
			<string>YES</string>
		</dict>
		<key>QSURLSearchForAndReturnAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSURLSearchActions</string>
			<key>actionSelector</key>
			<string>doURLSearchForAndReturnAction:withString:</string>
			<key>description</key>
			<string>Returns the results of a query directly to the command window</string>
			<key>directTypes</key>
			<array>
				<string>Apple URL pasteboard type</string>
			</array>
			<key>enabled</key>
			<string>NO</string>
			<key>icon</key>
			<string>Find</string>
			<key>name</key>
			<string>Show Results for Search...</string>
			<key>validatesObjects</key>
			<string>YES</string>
		</dict>
	</dict>
	<key>QSObjectSources</key>
	<dict>
		<key>QSWebSearchSource</key>
		<string>QSWebSearchSource</string>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Blacktree, Inc.</string>
		<key>categories</key>
		<array>
			<string>Web</string>
			<string>Search</string>
		</array>
		<key>description</key>
		<string>Allows searching the web</string>
		<key>icon</key>
		<string>Find</string>
		<key>relatedBundles </key>
		<array>
			<string>com.apple.Safari</string>
		</array>
	</dict>
	<key>QSPresetAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetDocWebSearchesSimple</string>
			<key>enabled</key>
			<string>YES</string>
			<key>name</key>
			<string>Web Searches (Simple)</string>
			<key>settings</key>
			<dict>
				<key>contentPrefix</key>
				<string>&lt;div class="QSWebSearchContentStart"&gt;&lt;/div&gt;</string>
				<key>contentSuffix</key>
				<string>&lt;div class="QSWebSearchContentEnd"&gt;&lt;/div&gt;</string>
				<key>path</key>
				<string>http://qs0.qsapp.com/plugin-data/web-search-list.php?type=simple</string>
			</dict>
			<key>source</key>
			<string>QSWebSource</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSPresetDocWebSearches</string>
			<key>enabled</key>
			<string>NO</string>
			<key>name</key>
			<string>Web Searches (Full List)</string>
			<key>settings</key>
			<dict>
				<key>contentPrefix</key>
				<string>&lt;div class="QSWebSearchContentStart"&gt;&lt;/div&gt;</string>
				<key>contentSuffix</key>
				<string>&lt;div class="QSWebSearchContentEnd"&gt;&lt;/div&gt;</string>
				<key>path</key>
				<string>http://qs0.qsapp.com/plugin-data/web-search-list.php?type=full</string>
			</dict>
			<key>source</key>
			<string>QSWebSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSURLSearchActions</key>
			<string>QSURLSearchActions</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>QSWebSearchSource</key>
			<string>QSWebSearchSource</string>
		</dict>
	</dict>
</dict>
</plist>
