<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Process Manipulation Actions</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.QSProcessManipulationPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Process Manipulation Actions</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>42</string>
	<key>NSPrincipalClass</key>
	<string>QSProcessManipulationPlugIn</string>
	<key>QSActions</key>
	<dict>
		<key>AppLaunchAgainAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSAdvancedProcessActionProvider</string>
			<key>actionSelector</key>
			<string>launchACopyOfApplication:</string>
			<key>directTypes</key>
			<array>
				<string>qs.process</string>
			</array>
			<key>enabled</key>
			<false/>
			<key>icon</key>
			<string>Rocket</string>
			<key>name</key>
			<string>Launch a Copy</string>
		</dict>
		<key>AppLaunchAsRootAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSAdvancedProcessActionProvider</string>
			<key>actionSelector</key>
			<string>launchAsRoot:</string>
			<key>directFileTypes</key>
			<array>
				<string>'APPL'</string>
				<string>app</string>
			</array>
			<key>directTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
			<key>enabled</key>
			<false/>
			<key>feature</key>
			<integer>1</integer>
			<key>features</key>
			<array>
				<string>Advanced</string>
			</array>
			<key>icon</key>
			<string>Rocket</string>
			<key>name</key>
			<string>Launch as Root</string>
		</dict>
		<key>ProcessKillAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSAdvancedProcessActionProvider</string>
			<key>actionSelector</key>
			<string>killProcess:</string>
			<key>directTypes</key>
			<array>
				<string>qs.process</string>
			</array>
			<key>enabled</key>
			<false/>
			<key>feature</key>
			<integer>1</integer>
			<key>name</key>
			<string>Kill Process</string>
		</dict>
		<key>ProcessLowerPriorityAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSAdvancedProcessActionProvider</string>
			<key>actionSelector</key>
			<string>lowerPriority:</string>
			<key>directTypes</key>
			<array>
				<string>qs.process</string>
			</array>
			<key>enabled</key>
			<false/>
			<key>feature</key>
			<integer>1</integer>
			<key>name</key>
			<string>Lower Priority</string>
		</dict>
		<key>ProcessRaisePriorityAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSAdvancedProcessActionProvider</string>
			<key>actionSelector</key>
			<string>raisePriority:</string>
			<key>directTypes</key>
			<array>
				<string>qs.process</string>
			</array>
			<key>enabled</key>
			<false/>
			<key>feature</key>
			<integer>1</integer>
			<key>name</key>
			<string>Raise Priority</string>
		</dict>
		<key>ProcessResumeAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSAdvancedProcessActionProvider</string>
			<key>actionSelector</key>
			<string>resumeProcess:</string>
			<key>directTypes</key>
			<array>
				<string>qs.process</string>
			</array>
			<key>enabled</key>
			<false/>
			<key>feature</key>
			<integer>1</integer>
			<key>name</key>
			<string>Resume Application (SIGCONT)</string>
		</dict>
		<key>ProcessSampleAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSAdvancedProcessActionProvider</string>
			<key>actionSelector</key>
			<string>sampleProcess:</string>
			<key>directTypes</key>
			<array>
				<string>qs.process</string>
			</array>
			<key>enabled</key>
			<false/>
			<key>feature</key>
			<integer>1</integer>
			<key>icon</key>
			<string>com.apple.Sampler</string>
			<key>name</key>
			<string>Sample Process</string>
		</dict>
		<key>ProcessSetPriorityAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSAdvancedProcessActionProvider</string>
			<key>actionSelector</key>
			<string>setPriorityOf:to:</string>
			<key>directTypes</key>
			<array>
				<string>qs.process</string>
			</array>
			<key>enabled</key>
			<false/>
			<key>feature</key>
			<integer>1</integer>
			<key>name</key>
			<string>Set Priority...</string>
		</dict>
		<key>ProcessShowOpenFilesAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSAdvancedProcessActionProvider</string>
			<key>actionSelector</key>
			<string>showFilesOfProcess:</string>
			<key>directTypes</key>
			<array>
				<string>qs.process</string>
			</array>
			<key>enabled</key>
			<false/>
			<key>feature</key>
			<integer>1</integer>
			<key>name</key>
			<string>List Open Files</string>
		</dict>
		<key>ProcessSignalAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSAdvancedProcessActionProvider</string>
			<key>actionSelector</key>
			<string>signalProcess:withValue:</string>
			<key>directTypes</key>
			<array>
				<string>qs.process</string>
			</array>
			<key>enabled</key>
			<false/>
			<key>feature</key>
			<integer>1</integer>
			<key>name</key>
			<string>Send Signal...</string>
		</dict>
		<key>ProcessSuspendAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSAdvancedProcessActionProvider</string>
			<key>actionSelector</key>
			<string>suspendProcess:</string>
			<key>directTypes</key>
			<array>
				<string>qs.process</string>
			</array>
			<key>enabled</key>
			<false/>
			<key>feature</key>
			<integer>1</integer>
			<key>name</key>
			<string>Pause Application (SIGTSTP)</string>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Blacktree, Inc.</string>
		<key>categories</key>
		<array>
			<string>System</string>
		</array>
		<key>description</key>
		<string>Actions for monitoring and modifying application processes on your machine.</string>
		<key>icon</key>
		<string>ExecutableBinaryIcon</string>
		<key>qsversion</key>
		<string>2F63</string>
	</dict>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSAdvancedProcessActionProvider</key>
			<string>QSAdvancedProcessActionProvider</string>
		</dict>
	</dict>
	<key>QSRequirements</key>
	<dict>
		<key>feature</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
