<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>QS Sherlock Module</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.QSSherlockPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Sherlock Module</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>9A</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2004, Blacktree, Inc.</string>
	<key>QSActions</key>
	<dict>
		<key>QSSherlockChannelShowAction</key>
		<dict>
			<key>New item</key>
			<string></string>
			<key>actionClass</key>
			<string>QSSherlockActionProvider</string>
			<key>actionSelector</key>
			<string>selectChannel:</string>
			<key>commandFormat</key>
			<string>Show %@ in Sherlock</string>
			<key>directTypes</key>
			<array>
				<string>QSSherlockChannelIDType</string>
			</array>
			<key>icon</key>
			<string>com.apple.Sherlock</string>
			<key>name</key>
			<string>Show Channel</string>
			<key>rankModification</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>QSBundleChildHandlers</key>
	<dict/>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Blacktree, Inc.</string>
		<key>categories</key>
		<array>
			<string>Internet</string>
			<string>Search</string>
			<string>Apple</string>
		</array>
		<key>description</key>
		<string>Access Sherlock channels</string>
		<key>descriptionHTML</key>
		<string>Access &lt;a href="http://www.apple.com/macosx/features/sherlock/"&gt;Sherlock&lt;/a&gt; channels</string>
		<key>relatedBundles</key>
		<array>
			<string>com.apple.Sherlock</string>
		</array>
		<key>webIcon</key>
		<string>image:com.apple.Sherlock</string>
	</dict>
	<key>QSPresetAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetSherlockChannels</string>
			<key>name</key>
			<string>Sherlock Channels</string>
			<key>source</key>
			<string>QSSherlockSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSSherlockActionProvider</key>
			<string>QSSherlockActionProvider</string>
		</dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>com.apple.Sherlock</key>
			<string>QSSherlockSource</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>QSSherlockChannelIDType</key>
			<string>QSSherlockSource</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>QSSherlockSource</key>
			<string>QSSherlockSource</string>
		</dict>
	</dict>
	<key>QSRequirements</key>
	<dict>
		<key>bundles</key>
		<array>
			<dict>
				<key>id</key>
				<string>com.apple.Sherlock</string>
				<key>name</key>
				<string>Sherlock</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
