<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.QSUIAccessPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>User Interface Access</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>19E</string>
	<key>NSPrincipalClass</key>
	<string>QSUIAccessPlugIn</string>
	<key>QSActions</key>
	<dict>
		<key>ActivateWindow</key>
		<dict>
			<key>actionClass</key>
			<string>QSUIAccessPlugIn_Action</string>
			<key>actionSelector</key>
			<string>activateWindow:</string>
			<key>directTypes</key>
			<array>
				<string>WindowsType</string>
			</array>
			<key>name</key>
			<string>Activate Window</string>
			<key>precedence</key>
			<integer>3</integer>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>CloseWindow</key>
		<dict>
			<key>actionClass</key>
			<string>QSUIAccessPlugIn_Action</string>
			<key>actionSelector</key>
			<string>closeWindow:</string>
			<key>directTypes</key>
			<array>
				<string>WindowsType</string>
			</array>
			<key>name</key>
			<string>Close Window</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>FocusedWindowForApp</key>
		<dict>
			<key>actionClass</key>
			<string>QSUIAccessPlugIn_Action</string>
			<key>actionSelector</key>
			<string>focusedWindowForApp:</string>
			<key>directTypes</key>
			<array>
				<string>qs.process</string>
			</array>
			<key>displaysResult</key>
			<true/>
			<key>name</key>
			<string>Focused Window</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>GetWindowsForApp</key>
		<dict>
			<key>actionClass</key>
			<string>QSUIAccessPlugIn_Action</string>
			<key>actionSelector</key>
			<string>getWindowsForApp:</string>
			<key>directTypes</key>
			<array>
				<string>qs.process</string>
			</array>
			<key>displaysResult</key>
			<true/>
			<key>name</key>
			<string>Show Windows</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>ListWindowsForApp</key>
		<dict>
			<key>actionClass</key>
			<string>QSUIAccessPlugIn_Action</string>
			<key>actionSelector</key>
			<string>appWindows:activateWindow:</string>
			<key>directTypes</key>
			<array>
				<string>qs.process</string>
			</array>
			<key>name</key>
			<string>Windows…</string>
		</dict>
		<key>MinimizeWindow</key>
		<dict>
			<key>actionClass</key>
			<string>QSUIAccessPlugIn_Action</string>
			<key>actionSelector</key>
			<string>minimizeWindow:</string>
			<key>directTypes</key>
			<array>
				<string>WindowsType</string>
			</array>
			<key>name</key>
			<string>Minimize Window</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>QSGetUIElementsAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSUIAccessPlugIn_Action</string>
			<key>actionSelector</key>
			<string>getUIElementForApplication:</string>
			<key>directTypes</key>
			<array>
				<string>qs.process</string>
			</array>
			<key>displaysResult</key>
			<true/>
			<key>name</key>
			<string>Get UI Element</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>QSPickMenuItemsAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSUIAccessPlugIn_Action</string>
			<key>actionSelector</key>
			<string>appMenus:pickItem:</string>
			<key>directTypes</key>
			<array>
				<string>qs.process</string>
			</array>
			<key>name</key>
			<string>Menu Bar Items…</string>
		</dict>
		<key>QSPickMenusAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSUIAccessPlugIn_Action</string>
			<key>actionSelector</key>
			<string>appMenus:pickItem:</string>
			<key>directTypes</key>
			<array>
				<string>qs.process</string>
			</array>
			<key>name</key>
			<string>Menu Bar…</string>
		</dict>
		<key>QSSearchMenuItemsAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSUIAccessPlugIn_Action</string>
			<key>actionSelector</key>
			<string>searchAppMenus:</string>
			<key>directTypes</key>
			<array>
				<string>qs.process</string>
			</array>
			<key>name</key>
			<string>Show Menu Items</string>
		</dict>
		<key>QSUIElementDoActionAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSUIAccessPlugIn_Action</string>
			<key>actionSelector</key>
			<string>uiElement:performAction:</string>
			<key>directTypes</key>
			<array>
				<string>qs.ui.element</string>
			</array>
			<key>name</key>
			<string>Perform Action…</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>QSUIElementPickAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSUIAccessPlugIn_Action</string>
			<key>actionSelector</key>
			<string>pickUIElement:</string>
			<key>directTypes</key>
			<array>
				<string>qs.ui.element</string>
			</array>
			<key>name</key>
			<string>Select</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>QSUIElementPressAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSUIAccessPlugIn_Action</string>
			<key>actionSelector</key>
			<string>pressUIElement:</string>
			<key>directTypes</key>
			<array>
				<string>qs.ui.element</string>
			</array>
			<key>name</key>
			<string>Press</string>
			<key>precedence</key>
			<integer>3</integer>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>RaiseWindow</key>
		<dict>
			<key>actionClass</key>
			<string>QSUIAccessPlugIn_Action</string>
			<key>actionSelector</key>
			<string>raiseWindow:</string>
			<key>directTypes</key>
			<array>
				<string>WindowsType</string>
			</array>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>Raise Window</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>ZoomWindow</key>
		<dict>
			<key>actionClass</key>
			<string>QSUIAccessPlugIn_Action</string>
			<key>actionSelector</key>
			<string>zoomWindow:</string>
			<key>directTypes</key>
			<array>
				<string>WindowsType</string>
			</array>
			<key>name</key>
			<string>Zoom Window</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
	</dict>
	<key>QSLoadImmediately</key>
	<true/>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Blacktree, Inc.</string>
		<key>categories</key>
		<array>
			<string>System</string>
		</array>
		<key>description</key>
		<string>Access the menus and windows of running applications.</string>
		<key>extendedDescription</key>
		<string>Access the menus and windows of running applications.&lt;P&gt;&lt;h3&gt;Requirements&lt;/h3&gt;&lt;br&gt;&lt;ul&gt;&lt;li&gt;Access for assistive devices must be enabled in Universal Access pane of System Preferences&lt;/ul&gt;</string>
		<key>icon</key>
		<string>WindowIcon</string>
	</dict>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSUIAccessPlugIn_Action</key>
			<string>QSUIAccessPlugIn_Action</string>
		</dict>
		<key>QSCommands</key>
		<dict>
			<key>ShowAllAppMenusCommand</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directID</key>
					<string>AllAppMenusMessage</string>
					<key>name</key>
					<string>Show All Menus</string>
				</dict>
			</dict>
			<key>ShowAllAppWindowsCommand</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directID</key>
					<string>AllAppWindowsMessage</string>
					<key>name</key>
					<string>Show All Windows</string>
				</dict>
			</dict>
		</dict>
		<key>QSInternalMessages</key>
		<dict>
			<key>AllAppMenusMessage</key>
			<dict>
				<key>actionClass</key>
				<string>QSUIAccessPlugIn_Action</string>
				<key>actionSelector</key>
				<string>allAppMenus:</string>
				<key>icon</key>
				<string>Object</string>
				<key>name</key>
				<string>Show All Menus</string>
				<key>runInMainThread</key>
				<true/>
			</dict>
			<key>AllAppWindowsMessage</key>
			<dict>
				<key>actionClass</key>
				<string>QSUIAccessPlugIn_Action</string>
				<key>actionSelector</key>
				<string>allAppWindows:</string>
				<key>icon</key>
				<string>WindowIcon</string>
				<key>name</key>
				<string>Show All Windows</string>
				<key>runInMainThread</key>
				<true/>
			</dict>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>qs.ui.action</key>
			<string>QSUIAccessPlugIn_Source</string>
			<key>qs.ui.element</key>
			<string>QSUIAccessPlugIn_Source</string>
		</dict>
		<key>QSProxies</key>
		<dict>
			<key>CurrentFocusedWindow</key>
			<dict>
				<key>icon</key>
				<string>WindowIcon</string>
				<key>name</key>
				<string>Current Focused Window</string>
				<key>providerClass</key>
				<string>QSUIAccessPlugIn_Action</string>
				<key>types</key>
				<array>
					<string>WindowsType</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>QSRequirements</key>
	<dict>
		<key>feature</key>
		<integer>1</integer>
		<key>version</key>
		<string>1337</string>
	</dict>
	<key>QSResourceAdditions</key>
	<dict>
		<key>WindowIcon</key>
		<dict>
			<key>bundle</key>
			<string>com.blacktree.Quicksilver.QSUIAccessPlugIn</string>
			<key>resource</key>
			<string>WindowIcon.png</string>
		</dict>
	</dict>
	<key>QSTriggerAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>ShowAllAppWindowsCommand</string>
			<key>command</key>
			<string>ShowAllAppWindowsCommand</string>
			<key>set</key>
			<string>Quicksilver</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>ShowAllAppMenusCommand</string>
			<key>command</key>
			<string>ShowAllAppMenusCommand</string>
			<key>set</key>
			<string>Quicksilver</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
	</array>
</dict>
</plist>
