<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>DokuWiki Module</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.QSDokuWikiPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>DokuWiki Module</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>2C</string>
	<key>NSPrincipalClass</key>
	<string>QSDokuWikiPlugIn</string>
	<key>QSActions</key>
	<dict>
		<key>QSDokuWikiPageEditAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSDokuWikiPlugIn</string>
			<key>actionSelector</key>
			<string>editPage:</string>
			<key>directTypes</key>
			<array>
				<string>org.splitbrain.dokuwiki.page</string>
			</array>
			<key>name</key>
			<string>Edit</string>
		</dict>
		<key>QSDokuWikiPageShowAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSDokuWikiPlugIn</string>
			<key>actionSelector</key>
			<string>showPage:</string>
			<key>directTypes</key>
			<array>
				<string>org.splitbrain.dokuwiki.page</string>
			</array>
			<key>name</key>
			<string>Show</string>
		</dict>
		<key>QSDokuWikiPageShowRevsAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSDokuWikiPlugIn</string>
			<key>actionSelector</key>
			<string>showPageRevisions:</string>
			<key>directTypes</key>
			<array>
				<string>org.splitbrain.dokuwiki.page</string>
			</array>
			<key>name</key>
			<string>Show Revisions</string>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string></string>
		<key>categories</key>
		<array/>
		<key>description</key>
		<string></string>
		<key>icon</key>
		<string>DokuWiki</string>
		<key>relatedBundles </key>
		<array/>
	</dict>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSDokuWikiPlugIn</key>
			<string>QSDokuWikiPlugIn</string>
		</dict>
		<key>QSFSParsers</key>
		<dict>
			<key>QSDokuWikiParser</key>
			<string>QSDokuWikiParser</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>QSDokuWikiPlugIn_Type</key>
			<string>QSDokuWikiPlugIn_Source</string>
		</dict>
	</dict>
	<key>QSRequirementsTemplate</key>
	<dict>
		<key>bundlesTemplate</key>
		<array>
			<dict>
				<key>id</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>version</key>
				<string></string>
			</dict>
		</array>
		<key>feature</key>
		<integer>0</integer>
		<key>launchLoad</key>
		<false/>
		<key>pathsTemplate</key>
		<array>
			<string>/path/to/something</string>
		</array>
		<key>pluginsTemplate</key>
		<array>
			<dict>
				<key>id</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>version</key>
				<string></string>
			</dict>
		</array>
		<key>version</key>
		<string>1337</string>
	</dict>
	<key>QSResourceAdditions</key>
	<dict>
		<key>DokuWiki</key>
		<string>[com.blacktree.Quicksilver.QSDokuWikiPlugIn]:DokuWiki.png</string>
	</dict>
</dict>
</plist>
