<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Spaces</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.QSSpacesPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Spaces Module</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>69</string>
	<key>NSPrincipalClass</key>
	<string>QSSpacesPlugIn</string>
	<key>QSActions</key>
	<dict>
		<key>QSMoveWindowToWorkspaceAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSSpacesPlugInAction</string>
			<key>actionSelector</key>
			<string>moveWindow:toWorkspace:</string>
			<key>directTypes</key>
			<array>
				<string>qs.windowid</string>
			</array>
			<key>icon</key>
			<string>com.apple.spaceslauncher</string>
			<key>name</key>
			<string>Move to Space...</string>
			<key>precedence</key>
			<string>2</string>
		</dict>
		<key>QSWorkspaceSelectAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSSpacesPlugInAction</string>
			<key>actionSelector</key>
			<string>selectWorkspace:</string>
			<key>directTypes</key>
			<array>
				<string>qs.workspaceid</string>
			</array>
			<key>icon</key>
			<string>com.apple.spaceslauncher</string>
			<key>name</key>
			<string>Select Desktop</string>
			<key>precedence</key>
			<string>5</string>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Blacktree, Inc.</string>
		<key>categories</key>
		<array>
			<string>Utility</string>
		</array>
		<key>description</key>
		<string>Access to Spaces</string>
		<key>icon</key>
		<string>com.apple.spaceslauncher</string>
		<key>qsversion</key>
		<string>29CC</string>
	</dict>
	<key>QSPresetAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetSpaces</string>
			<key>name</key>
			<string>Spaces</string>
			<key>source</key>
			<string>QSSpacesPlugInSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSSpacesPlugInAction</key>
			<string>QSSpacesPlugInAction</string>
		</dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>com.apple.spaceslauncher</key>
			<string>QSDesktopManagerPlugInSource</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>qs.workspaceid</key>
			<string>QSSpacesPlugInSource</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>QSSpacesPlugInSource</key>
			<string>QSSpacesPlugInSource</string>
		</dict>
		<key>QSTypeDefinitions</key>
		<dict>
			<key>qs.workspaceid</key>
			<dict>
				<key>icon</key>
				<string>com.apple.spaceslauncher</string>
				<key>name</key>
				<string>Spaces</string>
			</dict>
		</dict>
	</dict>
	<key>QSRequirementsTemplate</key>
	<dict>
		<key>bundlesTemplate</key>
		<array>
			<dict>
				<key>id</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>version</key>
				<string></string>
			</dict>
		</array>
		<key>feature</key>
		<integer>0</integer>
		<key>launchLoad</key>
		<false/>
		<key>pathsTemplate</key>
		<array>
			<string>/path/to/something</string>
		</array>
		<key>pluginsTemplate</key>
		<array>
			<dict>
				<key>id</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>version</key>
				<string></string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
