<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>iPhoto Module</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.QSiPhotoPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>iPhoto Module</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>B1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2004, Blacktree, Inc.</string>
	<key>QSActions</key>
	<dict>
		<key>QSiPhotoAlbumShowAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSiPhotoActionProvider</string>
			<key>actionSelector</key>
			<string>slideshow:</string>
			<key>directTypes</key>
			<array>
				<string>qs.apple.iPhoto.album</string>
			</array>
			<key>icon</key>
			<string>com.apple.iPhoto</string>
			<key>name</key>
			<string>iPhoto Slideshow</string>
			<key>precedence</key>
			<integer>3</integer>
		</dict>
		<key>QSiPhotoAlbumSlideShowAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSiPhotoActionProvider</string>
			<key>actionSelector</key>
			<string>show:</string>
			<key>directTypes</key>
			<array>
				<string>qs.apple.iPhoto.album</string>
			</array>
			<key>icon</key>
			<string>com.apple.iPhoto</string>
			<key>name</key>
			<string>Show Album</string>
			<key>precedence</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Blacktree, Inc.</string>
		<key>categories</key>
		<array>
			<string>Applications</string>
			<string>Images</string>
		</array>
		<key>description</key>
		<string>Adds Albums to the catalog</string>
		<key>extendedDescription</key>
		<string>Adds Albums to the catalog</string>
		<key>icon</key>
		<string>com.apple.iPhoto</string>
		<key>requiresBundle</key>
		<string>com.apple.iPhoto</string>
		<key>requiresFeature</key>
		<string>0</string>
	</dict>
	<key>QSPresetAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetiPhotoAlbums</string>
			<key>name</key>
			<string>iPhoto Albums</string>
			<key>requiresBundle</key>
			<string>com.apple.iPhoto</string>
			<key>source</key>
			<string>QSiPhotoObjectSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSiPhotoActionProvider</key>
			<string>QSiPhotoActionProvider</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>qs.apple.iPhoto.album</key>
			<string>QSiPhotoObjectSource</string>
			<key>qs.apple.iPhoto.photo</key>
			<string>QSiPhotoObjectSource</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>QSiPhotoObjectSource</key>
			<string>QSiPhotoObjectSource</string>
		</dict>
		<key>QSProxies</key>
		<dict>
			<key>QSiPhotoSelectedAlbumProxy</key>
			<dict>
				<key>icon</key>
				<string>com.apple.iPhoto</string>
				<key>name</key>
				<string>Selected iPhoto Album</string>
				<key>providerClass</key>
				<string>QSiPhotoActionProvider</string>
				<key>types</key>
				<array>
					<string>com.apple.itunes.playlist</string>
				</array>
			</dict>
			<key>com.apple.iPhoto</key>
			<dict>
				<key>icon</key>
				<string>com.apple.iPhoto</string>
				<key>name</key>
				<string>Current iPhoto Selection</string>
				<key>providerClass</key>
				<string>QSiPhotoActionProvider</string>
				<key>types</key>
				<array>
					<string>qs.apple.iPhoto.photo</string>
					<string>NSFilenamesPboardType</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>QSResourceAdditions</key>
	<dict>
		<key>iPhotoAlbumIcon</key>
		<dict>
			<key>bundle</key>
			<string>com.blacktree.Quicksilver.QSiPhotoPlugIn</string>
			<key>resource</key>
			<string>iPhotoAlbumIcon.png</string>
		</dict>
		<key>iPhotoIcon</key>
		<dict>
			<key>bundle</key>
			<string>com.apple.iPhoto</string>
		</dict>
		<key>iPhotoLibraryIcon</key>
		<dict>
			<key>bundle</key>
			<string>com.blacktree.Quicksilver.QSiPhotoPlugIn</string>
			<key>resource</key>
			<string>iPhotoLibraryIcon.png</string>
		</dict>
		<key>iPhotoSmartAlbumIcon</key>
		<dict>
			<key>bundle</key>
			<string>com.apple.iPhoto</string>
			<key>resource</key>
			<string>sl-icon_smartAlbum.tiff</string>
		</dict>
		<key>iPhotoSpecialMonthIcon</key>
		<dict>
			<key>bundle</key>
			<string>com.blacktree.Quicksilver.QSiPhotoPlugIn</string>
			<key>resource</key>
			<string>iPhotoCalendarIcon.png</string>
		</dict>
		<key>iPhotoSpecialRollIcon</key>
		<dict>
			<key>bundle</key>
			<string>com.blacktree.Quicksilver.QSiPhotoPlugIn</string>
			<key>resource</key>
			<string>iPhotoSpecialRollIcon.png</string>
		</dict>
	</dict>
</dict>
</plist>
