<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Displays Module</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.QSDisplaysPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Displays Module</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>82</string>
	<key>QSActions</key>
	<dict>
		<key>QSDisplayParametersApplyAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSDisplaysActionProvider</string>
			<key>actionSelector</key>
			<string>applyParameters:toDisplay:</string>
			<key>directTypes</key>
			<array>
				<string>QSDisplayParametersType</string>
			</array>
			<key>icon</key>
			<string>Display</string>
			<key>name</key>
			<string>Find With...</string>
			<key>reverseArguments</key>
			<false/>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>QSDisplaySetDepthAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSDisplaysActionProvider</string>
			<key>actionSelector</key>
			<string>applyParameters:toDisplay:</string>
			<key>directTypes</key>
			<array>
				<string>QSDisplayIDType</string>
			</array>
			<key>icon</key>
			<string>DisplayDepth</string>
			<key>name</key>
			<string>Set Color Depth...</string>
			<key>rankModification</key>
			<integer>3</integer>
			<key>reverseArguments</key>
			<true/>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>QSDisplaySetRefreshRateAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSDisplaysActionProvider</string>
			<key>actionSelector</key>
			<string>applyParameters:toDisplay:</string>
			<key>directTypes</key>
			<array>
				<string>QSDisplayIDType</string>
			</array>
			<key>icon</key>
			<string>DisplayResolution</string>
			<key>name</key>
			<string>Set Refresh Rate...</string>
			<key>rankModification</key>
			<integer>3</integer>
			<key>reverseArguments</key>
			<true/>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>QSDisplaySetResolutionAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSDisplaysActionProvider</string>
			<key>actionSelector</key>
			<string>applyParameters:toDisplay:</string>
			<key>directTypes</key>
			<array>
				<string>QSDisplayIDType</string>
			</array>
			<key>icon</key>
			<string>DisplayResolution</string>
			<key>name</key>
			<string>Set Resolution...</string>
			<key>rankModification</key>
			<integer>3</integer>
			<key>reverseArguments</key>
			<true/>
			<key>validatesObjects</key>
			<false/>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Blacktree, Inc.</string>
		<key>categories</key>
		<array>
			<string>System</string>
		</array>
		<key>description</key>
		<string>Allows modification of resolution and depth of main display.</string>
		<key>icon</key>
		<string>Display</string>
	</dict>
	<key>QSPresetAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetDisplays</string>
			<key>catalogPath</key>
			<string>QSPresetSystemGroup/QSPresetDevices</string>
			<key>name</key>
			<string>Displays</string>
			<key>source</key>
			<string>QSDisplaysObjectSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSDisplaysActionProvider</key>
			<string>QSDisplaysActionProvider</string>
		</dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>com.apple.preference.displays</key>
			<string>QSDisplaysObjectSource</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>QSDisplayIDType</key>
			<string>QSDisplaysObjectSource</string>
			<key>QSDisplayParametersType</key>
			<string>QSDisplaysObjectSource</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>QSDisplaysObjectSource</key>
			<string>QSDisplaysObjectSource</string>
		</dict>
	</dict>
	<key>QSRequirements</key>
	<dict>
		<key>feature</key>
		<integer>1</integer>
	</dict>
	<key>QSResourceAdditions</key>
	<dict>
		<key>Display</key>
		<string>[com.blacktree.Quicksilver.QSDisplaysPlugIn]:Display.png</string>
	</dict>
</dict>
</plist>
