<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Printer Module</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.QSPrinterPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Printer Module</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>6C</string>
	<key>NSPrincipalClass</key>
	<string>QSPrinterPlugIn</string>
	<key>QSActions</key>
	<dict>
		<key>QSPrinterPlugInAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSPrinterPlugInAction</string>
			<key>actionSelector</key>
			<string>print:</string>
			<key>directTypes</key>
			<array>
				<string>NSStringPboardType</string>
				<string>NSFilenamesPboardType</string>
			</array>
			<key>icon</key>
			<string>com.apple.print.PrintCenter</string>
			<key>name</key>
			<string>Print</string>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Blacktree, Inc.</string>
		<key>categories</key>
		<array/>
		<key>description</key>
		<string></string>
		<key>icon</key>
		<string>com.apple.print.PrintCenter</string>
	</dict>
	<key>QSPresetAdditionsTemplate</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetQSPrinterPlugIn</string>
			<key>name</key>
			<string>QSPrinterPlugIn</string>
			<key>source</key>
			<string>QSPrinterPlugInSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSPrinterPlugInAction</key>
			<string>QSPrinterPlugInAction</string>
		</dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>com.apple.print.PrintCenter</key>
			<string>QSPrinterPlugInSource</string>
		</dict>
		<key>QSPreferencePanes</key>
		<dict>
			<key>QSPrinterPrefPane</key>
			<dict>
				<key>class</key>
				<string>QSPrinterPrefPane</string>
				<key>description</key>
				<string>Preferences</string>
				<key>icon</key>
				<string>com.apple.print.PrintCenter</string>
				<key>name</key>
				<string>Printing</string>
			</dict>
		</dict>
	</dict>
	<key>QSRequirementsTemplate</key>
	<dict>
		<key>bundlesTemplate</key>
		<array>
			<dict>
				<key>id</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>version</key>
				<string></string>
			</dict>
		</array>
		<key>feature</key>
		<integer>0</integer>
		<key>launchLoad</key>
		<false/>
		<key>pathsTemplate</key>
		<array>
			<string>/path/to/something</string>
		</array>
		<key>pluginsTemplate</key>
		<array>
			<dict>
				<key>id</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>version</key>
				<string></string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
