<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.QSWatsonPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Watson Module</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.5.0</string>
	<key>CFBundleVersion</key>
	<string>81</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2004, Blacktree, Inc.</string>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Blacktree, Inc.</string>
		<key>description</key>
		<string>Tool Access</string>
		<key>requiresBundle</key>
		<string>com.karelia.watson</string>
		<key>requiresFeature</key>
		<string>0</string>
		<key>icon</key>
		<string>com.karelia.watson</string>
	</dict>
	<key>QSPresetAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetWatsonGroup</string>
			<key>children</key>
			<array>
				<dict>
					<key>ID</key>
					<string>QSPresetUserWatsonTools</string>
					<key>icon</key>
					<string>com.karelia.watson</string>
					<key>settings</key>
					<dict>
						<key>folderTypes</key>
						<array>
							<string>WatsonTool</string>
						</array>
						<key>parser</key>
						<string>QSDirectoryParser</string>
						<key>path</key>
						<string>~/Library/Application Support/Watson</string>
					</dict>
					<key>source</key>
					<string>QSFileSystemObjectSource</string>
				</dict>
			</array>
			<key>icon</key>
			<string>com.karelia.watson</string>
			<key>source</key>
			<string>QSGroupObjectSource</string>
		</dict>
	</array>
</dict>
</plist>
