<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Terminal Module</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.QSTerminalPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Terminal Module</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>11B</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2004, Blacktree, Inc.</string>
	<key>QSActions</key>
	<dict>
		<key>QSCLExecuteShellCommandAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSCLExecutableProvider</string>
			<key>actionSelector</key>
			<string>executeText:</string>
			<key>description</key>
			<string>Run a Text Command in Shell</string>
			<key>directTypes</key>
			<array>
				<string>qs.shellcommand</string>
			</array>
			<key>displaysResult</key>
			<true/>
			<key>icon</key>
			<string>ExecutableBinaryIcon</string>
			<key>name</key>
			<string>Run Command in Shell</string>
			<key>precedence</key>
			<integer>3</integer>
		</dict>
		<key>QSCLExecuteTextAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSCLExecutableProvider</string>
			<key>actionSelector</key>
			<string>executeText:</string>
			<key>description</key>
			<string>Run a Text Command in Shell</string>
			<key>directTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>displaysResult</key>
			<true/>
			<key>icon</key>
			<string>ExecutableBinaryIcon</string>
			<key>name</key>
			<string>Run Command in Shell</string>
		</dict>
		<key>QSCLTermExecuteShellCommandAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSCLExecutableProvider</string>
			<key>actionSelector</key>
			<string>executeTextInTerminal:</string>
			<key>directTypes</key>
			<array>
				<string>qs.shellcommand</string>
			</array>
			<key>icon</key>
			<string>TerminalIcon</string>
			<key>name</key>
			<string>Run a Text Command in Terminal</string>
			<key>precedence</key>
			<integer>4</integer>
		</dict>
		<key>QSCLTermExecuteTextAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSCLExecutableProvider</string>
			<key>actionSelector</key>
			<string>executeTextInTerminal:</string>
			<key>directTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>icon</key>
			<string>TerminalIcon</string>
			<key>name</key>
			<string>Run a Text Command in Terminal</string>
		</dict>
		<key>QSCLTermExecuteWithArgsAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSCLExecutableProvider</string>
			<key>actionSelector</key>
			<string>executeObjectInTerm:arguments:</string>
			<key>description</key>
			<string>Run a Shell Script in the Terminal</string>
			<key>directFileTypes</key>
			<array>
				<string>sh</string>
				<string>command</string>
				<string>php</string>
				<string>pl</string>
				<string>py</string>
				<string>rb</string>
				<string></string>
			</array>
			<key>directTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
			<key>icon</key>
			<string>TerminalIcon</string>
			<key>indirectOptional</key>
			<true/>
			<key>name</key>
			<string>Run in Terminal [...]</string>
			<key>rankModification</key>
			<real>2</real>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>QSCLTermShowDirectoryAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSCLExecutableProvider</string>
			<key>actionSelector</key>
			<string>showDirectoryInTerminal:</string>
			<key>directFileTypes</key>
			<array>
				<string>'fold'</string>
			</array>
			<key>directTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
			<key>icon</key>
			<string>TerminalIcon</string>
			<key>name</key>
			<string>Go To Directory in Terminal</string>
		</dict>
		<key>QSCLTermShowManPageAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSCLExecutableProvider</string>
			<key>actionSelector</key>
			<string>showManPage:</string>
			<key>directFileTypes</key>
			<array>
				<string></string>
			</array>
			<key>directTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
			<key>icon</key>
			<string>TerminalIcon</string>
			<key>name</key>
			<string>Show Man Page</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>QSShellScriptRunAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSCLExecutableProvider</string>
			<key>actionSelector</key>
			<string>executeObject:arguments:</string>
			<key>description</key>
			<string>Run a Shell Script</string>
			<key>directFileTypes</key>
			<array>
				<string>sh</string>
				<string>pl</string>
				<string>command</string>
				<string>php</string>
				<string>py</string>
				<string>rb</string>
				<string></string>
			</array>
			<key>directTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
			<key>displaysResult</key>
			<true/>
			<key>icon</key>
			<string>ExecutableBinaryIcon</string>
			<key>indirectOptional</key>
			<true/>
			<key>name</key>
			<string>Run [...]</string>
			<key>rankModification</key>
			<real>2</real>
			<key>validatesObjects</key>
			<true/>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Blacktree, Inc.</string>
		<key>categories</key>
		<array>
			<string>System</string>
			<string>Appications</string>
			<string>Development</string>
		</array>
		<key>description</key>
		<string>Allows running of shell scripts in Quicksilver or the Terminal</string>
		<key>icon</key>
		<string>com.apple.Terminal</string>
		<key>relatedBundles</key>
		<array>
			<string>com.apple.Terminal</string>
		</array>
		<key>requiresFeature</key>
		<string>0</string>
	</dict>
	<key>QSPresetAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetTerminalFiles</string>
			<key>enabled</key>
			<true/>
			<key>icon</key>
			<string>com.apple.Terminal</string>
			<key>name</key>
			<string>Terminal Files</string>
			<key>requiresSettingsPath</key>
			<true/>
			<key>settings</key>
			<dict>
				<key>folderDepth</key>
				<integer>1</integer>
				<key>folderTypes</key>
				<array>
					<string>term</string>
					<string>command</string>
				</array>
				<key>parser</key>
				<string>QSDirectoryParser</string>
				<key>path</key>
				<string>~/Library/Application Support/Terminal</string>
				<key>skipItem</key>
				<true/>
			</dict>
			<key>source</key>
			<string>QSFileSystemObjectSource</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSPresetBashHistory</string>
			<key>enabled</key>
			<false/>
			<key>icon</key>
			<string>com.apple.Terminal</string>
			<key>name</key>
			<string>Bash Command History</string>
			<key>requiresSettingsPath</key>
			<true/>
			<key>settings</key>
			<dict>
				<key>lineContentType</key>
				<string>qs.shellcommand</string>
				<key>parser</key>
				<string>QSTextLineParser</string>
				<key>path</key>
				<string>~/.bash_history</string>
				<key>skipItem</key>
				<true/>
			</dict>
			<key>source</key>
			<string>QSFileSystemObjectSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSCLExecutableProvider</key>
			<string>QSCLExecutableProvider</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>qs.shellcommand</key>
			<string>QSCLExecutableProvider</string>
		</dict>
		<key>QSTerminalMediators</key>
		<dict>
			<key>com.apple.Terminal</key>
			<string>QSAppleTerminalMediator</string>
		</dict>
	</dict>
	<key>QSRegistryTables</key>
	<dict>
		<key>QSTerminalMediators</key>
		<dict>
			<key>name</key>
			<string>Terminal</string>
			<key>type</key>
			<string>Mediator</string>
		</dict>
	</dict>
</dict>
</plist>
