<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>DiffModule</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.DiffModule</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Diff Action</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.5.2</string>
	<key>CFBundleVersion</key>
	<string>35</string>
	<key>NSPrincipalClass</key>
	<string>DiffModule</string>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Kevin Ballard</string>
		<key>categories</key>
		<array>
			<string>Development</string>
		</array>
		<key>description</key>
		<string>Provides a Diff action for files</string>
		<key>infoFile</key>
		<string>Info.rtf</string>
		<key>webIcon</key>
		<string>image:com.apple.FileMerge</string>
	</dict>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>DiffModule</key>
			<string>DiffModule</string>
		</dict>
	</dict>
	<key>QSRequirements</key>
	<dict>
		<key>bundles</key>
		<array>
			<dict>
				<key>Name</key>
				<string>FileMerge</string>
				<key>id</key>
				<string>com.apple.FileMerge</string>
			</dict>
		</array>
		<key>version</key>
		<string>CBB</string>
	</dict>
</dict>
</plist>
