<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Xcode</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.QSXcodePlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Xcode Module</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>62</string>
	<key>NSPrincipalClass</key>
	<string>QSXcodePlugIn</string>
	<key>QSActionsTemplate</key>
	<dict>
		<key>QSXcodePlugInAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSXcodePlugInAction</string>
			<key>actionSelector</key>
			<string>performActionOnObject:</string>
			<key>directTypes</key>
			<array>
				<string>QSXcodePlugInType</string>
			</array>
			<key>name</key>
			<string>Action: QSXcodePlugIn</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Blacktree, Inc.</string>
		<key>categories</key>
		<array>
			<string>Development</string>
		</array>
		<key>description</key>
		<string>Developer Documentation and Project Access</string>
		<key>icon</key>
		<string>com.apple.Xcode</string>
		<key>relatedBundles </key>
		<array>
			<string>com.apple.Xcode</string>
		</array>
	</dict>
	<key>QSPresetAdditionsTemplate</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetQSXcodePlugIn</string>
			<key>name</key>
			<string>QSXcodePlugIn</string>
			<key>source</key>
			<string>QSXcodePlugInSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSXcodePlugInAction</key>
			<string>QSXcodePlugInAction</string>
		</dict>
		<key>QSFSFileTypeParsers</key>
		<dict>
			<key>com.apple.xcode.project</key>
			<string>QSXcodePlugIn</string>
		</dict>
		<key>QSFSParsers</key>
		<dict>
			<key>QSXcodePlugIn</key>
			<string>QSXcodePlugIn</string>
		</dict>
		<key>QSFileObjectCreationHandlers</key>
		<dict>
			<key>com.apple.xcode.project</key>
			<string>QSXcodePlugIn</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>qs.apple.xcode.project</key>
			<string>QSXcodePlugInSource</string>
		</dict>
	</dict>
	<key>QSRequirementsTemplate</key>
	<dict>
		<key>bundlesTemplate</key>
		<array>
			<dict>
				<key>id</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>version</key>
				<string></string>
			</dict>
		</array>
		<key>feature</key>
		<integer>0</integer>
		<key>launchLoad</key>
		<false/>
		<key>pathsTemplate</key>
		<array>
			<string>/path/to/something</string>
		</array>
		<key>pluginsTemplate</key>
		<array>
			<dict>
				<key>id</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>version</key>
				<string></string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
