<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AuthorName</key>
	<string>Desktop Manager Default</string>
	<key>AuthorURL</key>
	<string>http://wsmanager.sf.net/</string>
	<key>BottomCenter</key>
	<data>
	TU0AKgAAANAzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMz
	MzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMz
	MzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMz
	MzMzMzMzMzMzMzMzMzMzJCQkLy4uLjMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMz
	MzMzMwANAQAAAwAAAAEACgAAAQEAAwAAAAEABQAAAQIAAwAAAAQAAAFyAQMAAwAAAAEA
	AQAAAQYAAwAAAAEAAgAAAREABAAAAAEAAAAIARUAAwAAAAEABAAAARcABAAAAAEAAADI
	ARoABQAAAAEAAAF6ARsABQAAAAEAAAGCARwAAwAAAAEAAQAAASgAAwAAAAEAAgAAAVIA
	AwAAAAEAAQAAAAAAAAAIAAgACAAIAAr8gAAAJxAACvyAAAAnEA==
	</data>
	<key>BottomLeft</key>
	<data>
	TU0AKgAAAIAHBwcgKysrQDMzMzMzMzMzMzMzMzMzMzMAAAAAFRUVMzExMTYzMzMzMzMz
	MzMzMzMAAAAAAwMDDxsbGzIxMTE2MzMzMzMzMzMAAAAAAAAAAAMDAw4WFhYoLi4uNjMz
	MzMAAAAAAAAAAAAAAAAAAAAACQkJGBcXFyYADQEAAAMAAAABAAYAAAEBAAMAAAABAAUA
	AAECAAMAAAAEAAABIgEDAAMAAAABAAEAAAEGAAMAAAABAAIAAAERAAQAAAABAAAACAEV
	AAMAAAABAAQAAAEXAAQAAAABAAAAeAEaAAUAAAABAAABKgEbAAUAAAABAAABMgEcAAMA
	AAABAAEAAAEoAAMAAAABAAIAAAFSAAMAAAABAAEAAAAAAAAACAAIAAgACAAK/IAAACcQ
	AAr8gAAAJxA=
	</data>
	<key>BottomRight</key>
	<data>
	TU0AKgAAAIAzMzMzMzMzMzMzMzMzMzMzKysrQAcHByAzMzMzMzMzMzMzMzMxMTE2FRUV
	MwAAAAAzMzMzMzMzMzExMTYbGxsyAwMDDwAAAAAzMzMzLi4uNhYWFigDAwMOAAAAAAAA
	AAAXFxcmCQkJGAAAAAAAAAAAAAAAAAAAAAAADQEAAAMAAAABAAYAAAEBAAMAAAABAAUA
	AAECAAMAAAAEAAABIgEDAAMAAAABAAEAAAEGAAMAAAABAAIAAAERAAQAAAABAAAACAEV
	AAMAAAABAAQAAAEXAAQAAAABAAAAeAEaAAUAAAABAAABKgEbAAUAAAABAAABMgEcAAMA
	AAABAAEAAAEoAAMAAAABAAIAAAFSAAMAAAABAAEAAAAAAAAACAAIAAgACAAK/IAAACcQ
	AAr8gAAAJxA=
	</data>
	<key>CloseWidget</key>
	<data>
	TU0AKgAAAGwIAAAIVQAAVYAAAIBVAABVCAAACFUAAFWwAACwswAAs7AAALBVAABVgAAA
	gLMAALOzAACzswAAs4AAAIBVAABVsAAAsLMAALOwAACwVQAAVQgAAAhVAABVgAAAgFUA
	AFUIAAAIAA0BAAADAAAAAQAFAAABAQADAAAAAQAFAAABAgADAAAABAAAAQ4BAwADAAAA
	AQABAAABBgADAAAAAQACAAABEQAEAAAAAQAAAAgBFQADAAAAAQAEAAABFwAEAAAAAQAA
	AGQBGgAFAAAAAQAAARYBGwAFAAAAAQAAAR4BHAADAAAAAQABAAABKAADAAAAAQACAAAB
	UgADAAAAAQABAAAAAAAAAAgACAAIAAgACvyAAAAnEAAK/IAAACcQ
	</data>
	<key>LeftSide</key>
	<data>
	TU0AKgAAAPgSEhJiKioqRTMzMzMzMzMzMzMzMzMzMzMbGxtlLi4uPDMzMzMzMzMzMzMz
	MzMzMzMdHR1bMTExNjMzMzMzMzMzMzMzMzMzMzMgICBcMTExNTMzMzMzMzMzMzMzMzMz
	MzMhISFaMjIyNDMzMzMzMzMzMzMzMzMzMzMiIiJZMzMzMzMzMzMzMzMzMzMzMzMzMzMi
	IiJZMzMzMzMzMzMzMzMzMzMzMzMzMzMiIiJZMzMzMzMzMzMzMzMzMzMzMzMzMzMiIiJZ
	MzMzMzMzMzMzMzMzMzMzMzMzMzMiIiJZMzMzMzMzMzMzMzMzMzMzMzMzMzMADQEAAAMA
	AAABAAYAAAEBAAMAAAABAAoAAAECAAMAAAAEAAABmgEDAAMAAAABAAEAAAEGAAMAAAAB
	AAIAAAERAAQAAAABAAAACAEVAAMAAAABAAQAAAEXAAQAAAABAAAA8AEaAAUAAAABAAAB
	ogEbAAUAAAABAAABqgEcAAMAAAABAAEAAAEoAAMAAAABAAIAAAFSAAMAAAABAAEAAAAA
	AAAACAAIAAgACAAK/IAAACcQAAr8gAAAJxA=
	</data>
	<key>PagerBackground</key>
	<data>
	TU0AKgAAAZgzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMz
	MzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMz
	MzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMz
	MzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMz
	MzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMz
	MzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMz
	MzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMz
	MzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMz
	AA0BAAADAAAAAQAKAAABAQADAAAAAQAKAAABAgADAAAABAAAAjoBAwADAAAAAQABAAAB
	BgADAAAAAQACAAABEQAEAAAAAQAAAAgBFQADAAAAAQAEAAABFwAEAAAAAQAAAZABGgAF
	AAAAAQAAAkIBGwAFAAAAAQAAAkoBHAADAAAAAQABAAABKAADAAAAAQACAAABUgADAAAA
	AQABAAAAAAAAAAgACAAIAAgACvyAAAAnEAAK/IAAACcQ
	</data>
	<key>PrefWidget</key>
	<data>
	TU0AKgAAAZgAAAMDAAADAwAAEBAAARsbAAExMQACSEgAA1xcAARwcAAEeHgABYGBAAWB
	gQAFgYEABHh4AARwcAADXFwAAkhIAAExMQABGxsAABAQAAADAwABKioAASoqAANQUAAE
	d3cABY2NAAakpAAGqakABq+vAAawsAAGsrIABrKyAAaysgAGsLAABq+vAAapqQAGpKQA
	BY2NAAR3dwADUFAAASoqAANPTwADT08ABHx8AAapqQAGrq4AB7OzAAezswAHs7MAB7Oz
	AAezswAHs7MAB7OzAAezswAHs7MAB7OzAAezswAGrq4ABqmpAAR8fAADT08AASkpAAEp
	KQADUFAABHd3AAWNjQAGpKQABqmpAAavrwAGsLAABrKyAAaysgAGsrIABrCwAAavrwAG
	qakABqSkAAWNjQAEd3cAA1BQAAEpKQAAAwMAAAMDAAAQEAABGxsAATIyAAJISAADXFwA
	BHBwAAR4eAAFgYEABYGBAAWBgQAEeHgABHBwAANcXAACSEgAATIyAAEbGwAAEBAAAAMD
	AA0BAAADAAAAAQAUAAABAQADAAAAAQAFAAABAgADAAAABAAAAjoBAwADAAAAAQABAAAB
	BgADAAAAAQACAAABEQAEAAAAAQAAAAgBFQADAAAAAQAEAAABFwAEAAAAAQAAAZABGgAF
	AAAAAQAAAkIBGwAFAAAAAQAAAkoBHAADAAAAAQABAAABKAADAAAAAQACAAABUgADAAAA
	AQABAAAAAAAAAAgACAAIAAgACvyAAAAnEAAK/IAAACcQ
	</data>
	<key>RightSide</key>
	<data>
	TU0AKgAAAPgzMzMzMzMzMzMzMzMzMzMzKioqRRISEmIzMzMzMzMzMzMzMzMzMzMzLi4u
	PBsbG2UzMzMzMzMzMzMzMzMzMzMzMTExNh0dHVszMzMzMzMzMzMzMzMzMzMzMTExNSAg
	IFwzMzMzMzMzMzMzMzMzMzMzMjIyNCEhIVozMzMzMzMzMzMzMzMzMzMzMzMzMyIiIlkz
	MzMzMzMzMzMzMzMzMzMzMzMzMyIiIlkzMzMzMzMzMzMzMzMzMzMzMzMzMyIiIlkzMzMz
	MzMzMzMzMzMzMzMzMzMzMyIiIlkzMzMzMzMzMzMzMzMzMzMzMzMzMyIiIlkADQEAAAMA
	AAABAAYAAAEBAAMAAAABAAoAAAECAAMAAAAEAAABmgEDAAMAAAABAAEAAAEGAAMAAAAB
	AAIAAAERAAQAAAABAAAACAEVAAMAAAABAAQAAAEXAAQAAAABAAAA8AEaAAUAAAABAAAB
	ogEbAAUAAAABAAABqgEcAAMAAAABAAEAAAEoAAMAAAABAAIAAAFSAAMAAAABAAEAAAAA
	AAAACAAIAAgACAAK/IAAACcQAAr8gAAAJxA=
	</data>
	<key>TopCenter</key>
	<data>
	TU0AKgAAAPgJCQmIDAwMnw0NDaYODg6lDg4OpQ4ODqUODg6lDg4OpQ4ODqUODg6lHR0d
	ayAgIF8hISFaIiIiWSIiIlkiIiJZIiIiWSIiIlkiIiJZIiIiWS4uLjwxMTE2MzMzMzMz
	MzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMz
	MzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMz
	MzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMADQEAAAMA
	AAABAAoAAAEBAAMAAAABAAYAAAECAAMAAAAEAAABmgEDAAMAAAABAAEAAAEGAAMAAAAB
	AAIAAAERAAQAAAABAAAACAEVAAMAAAABAAQAAAEXAAQAAAABAAAA8AEaAAUAAAABAAAB
	ogEbAAUAAAABAAABqgEcAAMAAAABAAEAAAEoAAMAAAABAAIAAAFSAAMAAAABAAEAAAAA
	AAAACAAIAAgACAAK/IAAACcQAAr8gAAAJxA=
	</data>
	<key>TopLeft</key>
	<data>
	TU0AKgAAAJgAAAAAAAAAAAAAAAAAAAAAAgICNQUFBWUAAAAAAAAAAAAAABkGBgZhEBAQ
	jhcXF30AAAAAAQEBGAkJCWkXFxd9IiIiWSoqKkUAAAAABwcHWxkZGXUoKChLMDAwODMz
	MzMDAwMxFhYWdygoKEsxMTE2MzMzMzMzMzMJCQlSIiIiWTAwMDgzMzMzMzMzMzMzMzMA
	DQEAAAMAAAABAAYAAAEBAAMAAAABAAYAAAECAAMAAAAEAAABOgEDAAMAAAABAAEAAAEG
	AAMAAAABAAIAAAERAAQAAAABAAAACAEVAAMAAAABAAQAAAEXAAQAAAABAAAAkAEaAAUA
	AAABAAABQgEbAAUAAAABAAABSgEcAAMAAAABAAEAAAEoAAMAAAABAAIAAAFSAAMAAAAB
	AAEAAAAAAAAACAAIAAgACAAK/IAAACcQAAr8gAAAJxA=
	</data>
	<key>TopRight</key>
	<data>
	TU0AKgAAAJgFBQVlAgICNQAAAAAAAAAAAAAAAAAAAAAXFxd9EBAQjgYGBmEAAAAZAAAA
	AAAAAAAqKipFIiIiWRcXF30JCQlpAQEBGAAAAAAzMzMzMDAwOCgoKEsZGRl1BwcHWwAA
	AAAzMzMzMzMzMzExMTYoKChLFhYWdwMDAzEzMzMzMzMzMzMzMzMwMDA4IiIiWQkJCVIA
	DQEAAAMAAAABAAYAAAEBAAMAAAABAAYAAAECAAMAAAAEAAABOgEDAAMAAAABAAEAAAEG
	AAMAAAABAAIAAAERAAQAAAABAAAACAEVAAMAAAABAAQAAAEXAAQAAAABAAAAkAEaAAUA
	AAABAAABQgEbAAUAAAABAAABSgEcAAMAAAABAAEAAAEoAAMAAAABAAIAAAFSAAMAAAAB
	AAEAAAAAAAAACAAIAAgACAAK/IAAACcQAAr8gAAAJxA=
	</data>
</dict>
</plist>
