<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>User Data Request</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.QSSurveyPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>User Data Request</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>138</string>
	<key>NSPrincipalClass</key>
	<string>QSSurveyPlugIn</string>
	<key>QSLoadImmediately</key>
	<true/>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Blacktree, Inc.</string>
		<key>description</key>
		<string>Allows users to submit information and participate in a survey</string>
		<key>icon</key>
		<string>com.apple.SummaryService</string>
		<key>qsversion</key>
		<string>29CC</string>
		<key>relatedBundles </key>
		<array/>
		<key>secret</key>
		<true/>
	</dict>
</dict>
</plist>
