<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Email Support</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.QSEmailSupport</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>E-mail Support</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>90</string>
	<key>NSPrincipalClass</key>
	<string>QSEmailSupport</string>
	<key>QSActions</key>
	<dict>
		<key>QSComposeEmailItemAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSEmailActions</string>
			<key>actionSelector</key>
			<string>composeEmailTo:withItem:</string>
			<key>directTypes</key>
			<array>
				<string>qs.contact.email</string>
			</array>
			<key>icon</key>
			<string>defaultMailClient</string>
			<key>indirectTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
				<string>NSStringPboardType</string>
			</array>
			<key>name</key>
			<string>Email Item... (Compose)</string>
		</dict>
		<key>QSComposeEmailItemReverseAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSEmailActions</string>
			<key>actionSelector</key>
			<string>composeEmailTo:withItem:</string>
			<key>directTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
				<string>NSStringPboardType</string>
			</array>
			<key>icon</key>
			<string>defaultMailClient</string>
			<key>indirectTypes</key>
			<array>
				<string>qs.contact.email</string>
			</array>
			<key>name</key>
			<string>Email To... (Compose)</string>
			<key>reverseArguments</key>
			<true/>
		</dict>
		<key>QSDirectEmailItemAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSEmailActions</string>
			<key>actionSelector</key>
			<string>sendDirectEmailTo:withItem:</string>
			<key>directTypes</key>
			<array>
				<string>qs.contact.email</string>
			</array>
			<key>enabled</key>
			<false/>
			<key>icon</key>
			<string>Quicksilver</string>
			<key>indirectTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
				<string>NSStringPboardType</string>
			</array>
			<key>name</key>
			<string>Email Item... (Send Directly)</string>
		</dict>
		<key>QSDirectEmailItemReverseAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSEmailActions</string>
			<key>actionSelector</key>
			<string>sendDirectEmailTo:withItem:</string>
			<key>directTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
				<string>NSStringPboardType</string>
			</array>
			<key>enabled</key>
			<false/>
			<key>icon</key>
			<string>Quicksilver</string>
			<key>indirectTypes</key>
			<array>
				<string>qs.contact.email</string>
			</array>
			<key>name</key>
			<string>Email To... (Send Directly)</string>
			<key>reverseArguments</key>
			<true/>
		</dict>
		<key>QSEmailAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSEmailActions</string>
			<key>actionSelector</key>
			<string>sendEmailTo:</string>
			<key>directTypes</key>
			<array>
				<string>qs.contact.email</string>
			</array>
			<key>icon</key>
			<string>defaultMailClient</string>
			<key>name</key>
			<string>Compose Email</string>
			<key>rankModification</key>
			<real>0.10000000000000001</real>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>QSEmailItemAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSEmailActions</string>
			<key>actionSelector</key>
			<string>sendEmailTo:withItem:</string>
			<key>directTypes</key>
			<array>
				<string>qs.contact.email</string>
			</array>
			<key>enabled</key>
			<false/>
			<key>icon</key>
			<string>defaultMailClient</string>
			<key>identifier</key>
			<string>QSArchiveFolderAction</string>
			<key>indirectTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
				<string>NSStringPboardType</string>
			</array>
			<key>name</key>
			<string>Email Item... (Send)</string>
		</dict>
		<key>QSEmailItemReverseAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSEmailActions</string>
			<key>actionSelector</key>
			<string>sendEmailTo:withItem:</string>
			<key>directTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
				<string>NSStringPboardType</string>
			</array>
			<key>enabled</key>
			<false/>
			<key>icon</key>
			<string>defaultMailClient</string>
			<key>indirectTypes</key>
			<array>
				<string>qs.contact.email</string>
			</array>
			<key>name</key>
			<string>Email To... (Send)</string>
			<key>reverseArguments</key>
			<true/>
		</dict>
	</dict>
	<key>QSDefaults</key>
	<dict>
		<key>QSMailActionFileBody</key>
		<string>Your files are attached to this message</string>
		<key>QSMailActionFileSubject</key>
		<string>%@</string>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>hidden</key>
		<true/>
		<key>qsversion</key>
		<string>2E00</string>
	</dict>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSEmailActions</key>
			<string>QSEmailActions</string>
		</dict>
		<key>QSPreferencePanes</key>
		<dict>
			<key>QSMailActionsPrefPane</key>
			<dict>
				<key>class</key>
				<string>QSPreferencePane</string>
				<key>description</key>
				<string>Mail Composition Preferences</string>
				<key>icon</key>
				<string>com.apple.Mail</string>
				<key>name</key>
				<string>Email Options</string>
				<key>nibBundle</key>
				<string>com.blacktree.Quicksilver.QSEmailSupport</string>
				<key>nibName</key>
				<string>QSMailSupportPrefPane</string>
			</dict>
		</dict>
		<key>QSRegistryHeaders</key>
		<dict>
			<key>QSMailMediators</key>
			<dict>
				<key>allowDefault</key>
				<true/>
				<key>bundle</key>
				<string>com.blacktree.Quicksilver.QSEmailSupport</string>
				<key>classTable</key>
				<true/>
				<key>name</key>
				<string>Email</string>
				<key>registryPreferredSelector</key>
				<string>QSMailMediatorID</string>
				<key>selector</key>
				<string>QSMailMediator</string>
				<key>type</key>
				<string>mediator</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
